@import "utils/reset";
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/images";
@import "~typeface-montserrat/index";
@import "~@openfonts/montserrat_cyrillic/index";
@import '~font-awesome/scss/font-awesome';
@import "utils/flex-templates";
@import "utils/flags";

*::placeholder{
    font-family: $mainFont;
}

body, html {
    font-family: $mainFont;
    min-width: 1200px;
}

main {
    min-height: calc(100vh - 316px);
}

body {
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.d-none {
    display: none!important;
}

@media only screen and (max-width: 1220px) {
	.container {
		width: 1200px;
		padding: 0 30px;
	}
}

// Libs
/* @import "~bootstrap/dist/css/bootstrap.min.css";*/

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import '~bootstrap/scss/_modal.scss';
@import '~bootstrap/scss/_forms.scss';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css';

@import "~owl.carousel/dist/assets/owl.theme.default.min.css";
@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "~owl.carousel";
@import "~jquery-simplecolorpicker/jquery.simplecolorpicker.css";
@import "~jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css";
@import "~lightgallery/src/sass/lightgallery.scss";
@import "~toastr/build/toastr.min.css";
@import "~select2/dist/css/select2.min.css"; 
@import "~jquery.fancytree/dist/skin-lion/ui.fancytree.css";

// Modules
@import "modules/navigation";
@import "modules/forms";
@import "modules/tables";
@import "modules/modals";
@import "modules/tabs";
@import "modules/breadcrumbs";
@import "modules/pagination";
@import "modules/select2"; 
@import "modules/simplecolorpicker";
@import "modules/lightgallery";
@import "modules/preloader";
@import "modules/pages/sidebar";
@import "modules/pages/header";
@import "modules/pages/mainpage";
@import "modules/pages/static";
@import "modules/pages/cabinet";
@import "modules/pages/login";
@import "modules/pages/categories";
@import "modules/pages/catalog";
@import "modules/pages/store";
@import "modules/pages/product";
@import "modules/pages/footer";
@import "modules/pages/cabinet_chat";
@import "modules/pages/errors";