.breadcrumbs {
	margin-bottom: 40px;
	ul {
		li {
			list-style: none;
			display: inline-block;
            font-size: 14px;
            line-height: 14px;
			&:after {
				content: '\2044';
				padding-left: 10px;
				padding-right: 7px;
				font-size: 14px;
				line-height: 14px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a {
				color: black;
				font-size: 14px;
				line-height: 14px;
				transition: color 150ms ease-in-out;
				&:hover {
					cursor: pointer;
					color: $colors-main;
				}
			}
		}
	}
}