.form {
	&__row {
		margin-top: 25px;
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		// Elements
		&__input {
			width: 100%;
			padding: 10px 0;
			margin: 10px 0;
			border-bottom: 1px solid rgba(#000000, 0.2);
			font-size: 16px;
			transition: all 150ms ease-in-out;
			&:focus {
				border-color: $colors-main;
			}
		}
		&__textarea {
			width: 100%;
			padding: 10px;
			border: 1px solid rgba(#000, 0.2);
			font-size: 16px;
			min-height: 80px;
			line-height: 120%;
			color: $colors-titles;
			transition: border-color 150ms ease-in-out;
			resize: vertical;
			&:focus {
				border-color: $colors-main;
			}
		}
		&__youtube {
			width: 100%;
			&__label {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			&__input {
				width: 100%;
				padding: 10px 0;
				border-bottom: 1px solid rgba(#000000, 0.2);
				font-size: 16px;
				transition: all 150ms ease-in-out;
				&:focus {
					border-color: $colors-main;
				}
			}
			&__video {
				margin-top: 15px;
				background-color: rgba(0, 0, 0, 0.025);
			}
		}
		/*&__select {
			appearance: none;
			width: 100%;
			display: block;
			box-shadow: none;
			background-color: transparent;
			border-radius: 0;
			border: 1px solid rgba(0, 0, 0, 0.2);
			height: 40px;
			padding: 0 15px;
			font-size: 14px;
			line-height: 14px;
			font-weight: normal;
			font-style: normal;
			background-image: $images-base-arrowDown;
			background-position: right 10px center;
			background-repeat: no-repeat;
		} */
		&__label {
			position: absolute;
			top: 10px;
			left: 0;
			font-size: 16px;
			color: rgba(0, 0, 0, 0.4);
			transition: all 150ms ease-in-out;
			&-textarea, &-youtube {
				position: relative;
				width: 100%;
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 14px;
				margin-bottom: 10px;
				color: rgba(0, 0, 0, 0.4);
			}
		}
		&__labelRadiobox {
			font-size: 11px;
			line-height: 14px;
			font-style: normal;
			font-weight: normal;
			width: 100%;
			margin-bottom: 15px;
			color: rgba(0, 0, 0, 0.4);
		}
		[type='password'],
		[type='number'],
		[type='email'],
		[type='search'] {
			appearance: none;
		}
		&__showPassword {
			position: absolute;
			right: 0;
			top: 15px;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: $images-base-eye-off;
			opacity: .4;
			transition: opacity 150ms ease-in-out;
			&.on {
				background-image: $images-base-eye-on;
			}
			&:hover {
				cursor: pointer;
				opacity: .8;
			}
		}
		&__error {
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 14px;
			color: $colors-error;
			padding-top: 10px;
			display: none;
		}
		&__link {
			font-size: 10px;
			line-height: 14px;
			color: $colors-main;
		}
		&__radiobox {
			margin-right: 30px;
			&__label {
				position: relative;
				padding-left: 20px;
				font-size: 16px;
				color: #000;
				&:after {
					position: absolute;
					left: 0;
					top: 0;
					width: 15px;
					height: 15px;
					border-radius: 10em;
					content: '';
					background-color: rgba(0, 0, 0, 0.1);
				}
				&:before {
					content: '';
					top: 2px;
					left: 2px;
					width: 0px;
					height: 0px;
					border-radius: 10em;
					position: absolute;
					transition: all 100ms ease;
					background-color: transparent;
				}
			}
			&__input {
				display: none;
				&:checked {
					+ .form__row__radiobox__label {
						&:after {
							background-color: rgba(75, 75, 216, 0.1);
						}
						&:before {
							background-color: $colors-main;
							width: 11px;
							height: 11px;
						}
					}
				}
			}

		}
		&__checkbox {
			$checkboxColor: $colors-main;
			$checkboxSize: 20px;
			$checkboxSizeCheck: 12px;
			$checkboxBorderSizeCheck: 2px;
			$checkboxBorderSize: 1px;
			$checkboxTextColor: #424242;
			flex-grow: 0;
			flex-shrink: 0;
			line-height: 20px;
			text-align: left;
			position: relative;
			color: $checkboxTextColor;
			position: relative;
			box-sizing: border-box;
			width: 100%;
			label {
				color: inherit;
				cursor: pointer;
				position: relative;
				font-size: 10px;
				user-select: none;
				font-weight: 400;
				vertical-align: middle;
				padding-left: 0px;
				line-height: 20px;
				height: 20px;
				&:before {
					width: $checkboxSize;
					height: $checkboxSize;
					border: $checkboxBorderSize solid rgba(0,0,0, .45);
					margin: 0;
					content: '';
					display: inline-block;
					transition: all .15s ease;
					user-select: none; 
					will-change: background-color, border-color;
					vertical-align: middle;
					background-color: white;
					margin-right: 10px;
				}
				&:after {
					top:                $checkboxSize / 2 - 4px;
					left:               $checkboxSize / 2 - 2px;
					width:              $checkboxSizeCheck;
					border:             $checkboxBorderSizeCheck solid white;
					height:             $checkboxSizeCheck / 2;
					content:            '';
					position:           absolute;
					transform:          scale(0, 0) rotate(-90deg) translateZ(0);
					transition:         all .15s ease;
					will-change:        transform;
					transform-origin:   bottom left;
					border-top-style:   none;
					border-right-style: none;
				}
			}
			input[type=checkbox] {
				display: none;
				&:checked {
					+ label {
						&:before { 
							top: 0;
							left: 0;
							width: $checkboxSize;
							height: $checkboxSize;
							border: $checkboxBorderSize solid rgba(0,0,0, .45);
							transform: none;
							background-color: $checkboxColor; 
							border-color: $checkboxColor; 
						}
						&:after {
							transform: scale(1, 1) rotate(-45deg) translateZ(0);
						}
					}
				}
			}
		}
		&__profilePhoto {
			&__input {
				position: absolute;
				width: 90px;
				height: 90px;
				top: 0;
				left: 0;
				opacity: 0;
			}
			&__avatar {
				width: 90px;
				height: 90px;
				border-radius: 10em;
				background-color: #C4C4C4;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
			&__edit {
				width: 18px;
				height: 18px;
				border-radius: 10em;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
				background-image: $images-base-edit-active;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: white;
				position: absolute;
				top: 10px;
				left: 70px;
			}
		}
		&__uploadImages {
			width: 100%;
			margin-bottom: 10px;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 14px;
				color: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			&__preview {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				margin-top: 20px;
				&:empty {
					margin-top: 0;
				}
                &__wrapper {
					width: 60px;
					height: 60px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					background-color: #f0f0f0;
					position: relative;
					margin-right: 15px;
                    margin-bottom: 15px;
					z-index: 0;
				}
				&__image {
					width: 60px;
					height: 60px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					background-color: #f0f0f0;
					position: relative;
					margin-right: 15px;
					z-index: 0;
					&__remove {
						position: absolute;
						right: -5px;
						top: -5px;
						background-repeat: no-repeat;
						background-position: top 0px center;
						background-size: auto;
						background-image: $images-base-remove-preview;
						background-color: #fff;
						width: 15px;
						height: 15px;
						border-radius: 10em;
						border: 1px solid $colors-error;
						z-index: 1;
						&:hover {
							position: absolute;
							right: -5px;
							top: -5px;
							background-repeat: no-repeat;
							background-position: center center;
							background-size: auto;
							background-image: $images-base-remove-preview-close;
							cursor: pointer;
						}
					}
				}
			}
			&__input {
				[type='file'] {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}
				[type='file'] + label {
					padding: 0 20px;
					display: inline-block;
					width: auto;
				}
				[type='file']:focus + label,
				[type='file'] + label:hover {
				}
			}
		}
		&__uploadFile {
			width: 100%;
			margin-bottom: 10px;
			display: flex;
			margin-top: 10px;
			&__label {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				max-width: 680px;
                flex-direction: column-reverse;  
			}
			&__input {
				&[type='file'] {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}
				&[type='file'] + label {
					width: auto;
				}
			}
			&__text {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				color: $colors-titles;
			}
			.button {
                margin-top: 0; 
                margin-right: 30px; 
                min-height: 47px;
                min-width: 172px;
            }
			&__uploadImages {
				display: inline-flex;
			}
		}

		&__selectorColor {
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 14px;
				color: rgba(0, 0, 0, 0.4);
				margin-bottom: 10px;
			}
			&__content {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;
			}
			&__colorWrapper {
				margin-right: 8px;
				margin-bottom: 8px;
				border-radius: 10em;
				width: 24px;
				height: 24px;
				box-sizing: border-box;
				border: 1px solid transparent;
				position: relative;
				&__color {
					position: absolute;
					top: 1px;
					left: 1px;
					background-color: #000;
					border-radius: 10em;
					width: 20px;
					height: 20px;
					&-transparent {
						background-image: $images-base-transparent;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
					}
				}
				&-selected {
					border-color: $colors-main;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}

		// States
		&-required {
			.form__row__label,
			//.form__row__colorSelector__label,
			.form__row__selectorColor__label,
			.form__row__uploadImages__label {
				&:after {
					content: '*';
					color: red;
					padding-left: 5px;
				}
			}
		}
		&-hasText {
			.form__row__label {
				top: -7px;
				font-size: 11px;
				line-height: 14px;
			}
		}
		&-ok {
			.form__row__input {
				border-color: $colors-main;
				position: relative;
			}
		}
		&-error {
			.form__row__error {
				display: block;
			}
			.form__row__input {
				border-color: $colors-error;
			}
		}
	}
	&__double__row, &__triple__row {
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
		&-between {
			justify-content: space-between;
		}
		&-space-between {
			justify-content: space-between;
			.form__row {
				width: unset !important;
			}
		}
	}
	&__double__row {
		.form__row {
			width: calc(50% - 15px);
		}
	}
	&__triple__row {
		justify-content: space-between;
		.form__row:not(:last-child){
			margin-right: 10px;
		}
	}
	&__custom__row {
		&-1 {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			.form__row {
				&:nth-child(1) {
					width: 180px;
					margin-right: 15px;
				}
				&:nth-child(2) {
					width: 180px;
					margin-left: 15px;
				}
			}
		}
		&-2 {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			.form__row {
				flex-grow: 0;
				flex-shrink: 0;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					width: 136.6px;
					margin-right: 15px;
				}
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					margin-left: 15px;
				}
				&:nth-child(4) {
					width: 80px;
				}
			}
		}
	}
}

.button {
    width: 100%;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    line-height: 45px;
    display: block;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    &:hover {
        cursor: pointer;
    }
    &-transparent {
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4);
        &:hover {
            border-color: rgba(0, 0, 0, 0.3);
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &-inactive {
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &-inline {
        width: auto;
        padding: 0 25px;
    }
    &-primary {
        background-color: $colors-main;
        border: 1px solid $colors-main;
        color: white;
        &:hover {
            background-color: $colors-titles;
            border-color: $colors-titles;
        }
        &-bordered {
            background-color: #FFF;
            color: $colors-main;
            border: 1px solid $colors-main;
            &:hover {
                cursor: pointer;
                border-color: $colors-titles;
                color: $colors-titles;
            }
        }
        &-link {
            color: $colors-main;
            background: transparent;
            border: none;
            &:hover {
                color: $colors-titles;
            }
            &-line {
                height: auto;
                line-height: 1;
            }
        }
        &-bordered-select {
            background-color: #fff;
            color: $colors-main;
            border: 1px solid $colors-main;
            padding: 0 45px 0 25px;
            background-repeat: no-repeat;
            background-position: right 15px center;
            background-image: $images-base-arrowDownActive;
            &:hover {
                cursor: pointer;
                border-color: $colors-titles;
                color: $colors-titles;
                background-image: $images-base-arrowDownInactive;
            }
        }
        &-favorites {
            background-image: $images-base-favorite-active;
            background-repeat: no-repeat;
            background-position: left 15px center;
            background-color: transparent;
            color: $colors-main;
            transition: all 150ms ease-in-out;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
            padding-left: 45px;
        }
    }
}

.actions {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    opacity: 1;
    transition: all 150ms ease-in-out;
    &__edit {
        background-image: $images-base-actions-edit;
    }
    &__remove {
        background-image: $images-base-actions-remove;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.formPreview {
    &__row {
        margin-bottom: 20px;
        &__label {
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 120%;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 8px;
        }
        &__value {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: $colors-titles;
        }
    }
}

.formView {
    margin-top: 30px;
    &__row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        &__label {
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 7px;
            width: 100%;
        }
        &__value {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            color: $colors-titles;
        }
        &__images {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            &__image {
                width: 60px;
                height: 60px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-color: rgba(0, 0, 0, 0.05);
                margin-right: 10px;
				margin-bottom: 10px;
            }
        }
        &__image {
            width: 100%;
        }
        &__color {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &__preview {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                border-radius: 10em;
                background-color: #fafafa;
            }
            &__value {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: $colors-titles;
            }
        }
        &__video {
            min-width: 580px;
        }
    }
}

.infoTooltip {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: $images-base-info;
	position: relative;
	margin-left: 10px;
	&__text {
		position: absolute;
		top: 0;
		left: 20px;
		display: none;
		white-space: nowrap;
		background-color: #fff;
	}
	&:hover {
		cursor: pointer;
		.infoTooltip__text {
			display: block;
		}
	}
}


.autocomplete-suggestions {
  text-align: left;
  cursor: pointer;

  // Позиционирование относительно #headerSearchInput
  margin-top: 5px;
  margin-left: -47px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 48px;
  line-height: 14px;

  // Стилизация выпадающего фрейма
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;

  //Размеры выпадающего фрейма
  max-height: 190px;
  min-width: 550px;
  overflow: hidden;
  box-sizing: border-box;
}

.autocomplete-suggestion {

  // Стилизация содержания выпадающего фрейма
  position: relative;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete-suggestion b {
  // Выделение цветом найденных совпадений
  font-weight: normal;
  color: $colors-main;
}

.autocomplete-suggestion.selected {
  // Подсветка текущего варианта
  background: #f7f7f7;
}



/// Temporary
.buttonFeature {
	width: 100%;
	border: none;
	outline: none;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	margin-top: 15px;
	text-align: center;
	line-height: 45px;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 1;
	transition: all 50ms ease-in-out;
	&:before {
		content: '';
		width: 100%;
		height: 0;
		background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		transition: all 150ms ease-in-out;
	}
	&-primary {
		background-color: $colors-main;
		color: white;
	}
	&-inline {
		display: inline-block;
		width: auto;
		padding: 0 25px;
	}
	span {
		position: relative;
		z-index: 2;
	}
	&:hover {
		cursor: pointer;
		&:before {
			height: 100%;
			opacity: 1;
		}
	}
}

.width-fit-content {
    width: fit-content;
}