.owl-carousel .owl-item img.lightgallery-slider {
    display: none;
}

.lg-backdrop {
    background-color: $colors-imageSlider-background;
}

.lg-thumb-outer.lg-grab, .lg-toogle-thumb.lg-icon {
    background-color: $colors-imageSlider-toolbar;
}

.lg-catalog-product{
    display: flex;
    width: 750px;
    flex-wrap: wrap;
}