.modal-header {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: .02em;
    color: #333;
    margin-bottom: 20px;
    border-bottom: unset;
    .close {
        background-color: unset;
        margin-right: -50px;
        margin-top: -60px;
    }
}

.modal-content {
    min-height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    padding: 30px;
    border-radius: unset;
}

.modal-body {
    line-height: 24px;
}

.modal-footer {
    border-top: unset;
    button {
        padding: 0 20px;
    }
}

.modal.left .modal-dialog{
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
    transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade .modal-dialog{
    left: -320px;
    opacity: 0;
}
.modal.left.fade.show .modal-dialog{
    left: 0;
    opacity: 1;
}

.modal-footer>* {
    margin: unset!important;
    margin-left: 10px;
}
