.navigation {
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		li {
			a {
				color: $colors-textBase;
				transition: color 200ms;
				&:hover {
					cursor: pointer;
					color: $colors-main;
				}
			}
		}
	}
	&__header {
		&__bottom {
			ul {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				li {
					margin-right: 50px;
					&:last-child { margin-right: 0; }
					a {
						display: block;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 45px;
					}
				}
			}
		}
	}
	&__footer {
		&__top {
			&__left {
				ul {
					li {
						padding-left: 20px;
						margin-left: 20px;
						border-left: 1px solid rgba(255, 255, 255, 0.2);
						&:first-child { margin-left: 0; padding-left: 0; border: none; }
						a {
							font-size: 16px;
							line-height: 16px;
							color: #FFFFFF;
							&:hover {
								color: #FFFFFF;
								opacity: 0.7;
							}
						}
					}
				}
			}
		}
	}
}

.headerNavigation {
	width: 100%;
	min-height: 100px;
	background-color: $colors-neutral-background;
	position: absolute;
	left: auto;
	top: auto;
	display: none;
	z-index: 9;
	&.active { 
		display: block;
		box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.05);
	}
	&__main {
		width: 264px;
		&__item {
			padding: 10px;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 14px;
			color: $colors-titles;
			&:first-child { margin-top: 20px; }
			&.active {
				background-color: white;
				color: $colors-main;
				cursor: pointer;
			}
			&:hover {
				background-color: white;
				color: $colors-main;
				cursor: pointer;
			}
		}
		a{
			display: block;
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 14px;
			font-weight: 600;
			color: $colors-titles;
			&:hover{
				color: $colors-main;
			}
		}
	}
	&__content {
		width: calc(100% - 264px);
		&__block {
			background-color: white;
			padding: 30px 20px;	
			display: none;
			&.active { 
				display: block;
			}
		}
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			color: $colors-titles;
			margin-bottom: 30px;
		}
		&__items {
			columns: 2;
		}
		&__item {
			margin-bottom: 40px;
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
				color: $colors-titles;
				margin-bottom: 10px;
			}
			&__list {
				ul {
					li {
						margin-bottom: 5px;
						&:last-child { margin-bottom: 0; }
						a {
							font-size: 14px;
							line-height: 120%;
							color: $colors-titles;
							transition: color 150ms ease-in-out;
							&:hover {
								cursor: pointer;
								color: $colors-main;
							}
						}
					}
				}
			}
		}
	}
}