.cabinet__pagination,
.catalog__pagination {
	margin-top: 40px;
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__item {
		width: 35px;
		height: 35px;
		border: 1px solid transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $colors-titles;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		cursor: pointer;
		a { color: $colors-titles; font-size: 16px; font-style: normal; font-weight: normal; }
		&-active {
			border-color: $colors-main;
		}
		&-prev, &-next {
			width: auto;
			padding: 0 10px;
			background-repeat: no-repeat;
		}
		&-prev {
			padding-left: 20px;
			background-position: left center;
			background-image: $images-base-pagination-prev;
		}
		&-next {
			padding-right: 20px;
			background-position: right center;
			background-image: $images-base-pagination-next;
		}
		&:hover {
			a {
				color: $colors-main;
			}
		}
	}
}