.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #F6F6F6;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  text-align: center;
  color: #4B4BD8;
}

.preloader__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
}

@keyframes ldio-2ak7hgotj2i {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}

.ldio-2ak7hgotj2i div {
  position: absolute;
  animation: ldio-2ak7hgotj2i 1s linear infinite;
  width: 120px;
  height: 120px;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  box-shadow: 0 3px 0 0 #4b4bd8;
  transform-origin: 60px 61.5px;
}

.loadingio-spinner-eclipse-indrmqmaclg {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-2ak7hgotj2i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-2ak7hgotj2i div { 
  box-sizing: content-box; 
}