.simplecolorpicker.icon {
    border: 1px solid #222 !important;
}

.simplecolorpicker[style='background-color: transparent;'],
.simplecolorpicker span[style='background-color: transparent;'],
{
    background-image: $images-base-transparent;
}

.colorpicker-handle
{
    display: none;
}