.table {
	display: table;
	width: 100%;
	&__row {
		display: table-row;
		height: 50px;
		&-heading {
			background-color: rgba(75, 75, 216, 0.08);
			.table__col {
				color: rgba(#000000, 0.4);	
			}
		}
		&:last-child {
			.table__col {
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			}
		}
	}	
	&__col {
		display: table-cell;
		vertical-align: middle;
		padding: 0 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		color: #000;
		&__progress {
			line-height: 1rem;
			font-size: 0;
			&-value {
				font-size: 0.875rem;
				vertical-align: middle;
				padding-left: 10px;
				color: rgba(0, 0, 0, 0.4);
				display: inline-block;
			}
		}
		&__progress-bar{
			width: 190px;
			height: 1rem;
			background: rgba(0, 0, 0, 0.05);
			display: inline-block;
			vertical-align: middle;
			&__fill{
				width: 33%;
				height: 100%;
				background-color: $colors-main;
				display: inline-block;
			}	
		}
	}
}