.flag {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	&-ru {
		background-image: $images-flags-russian;
	}
	&-en {
        background-image: $images-flags-english;
	}
	&-cn {
        background-image: $images-flags-chinese;
    }
}