.flexWrapper {
	display: flex;
	&__aic, &__align-items-center {
		align-items: center !important;
	}
	&__aifs, &__align-items-flex-start {
		align-items: flex-start !important;
	}
	&__aife, &__align-items-flex-end {
		align-items: flex-end !important;
	}
	&__jcc, &__justify-content-center {
		justify-content: center !important;
	}
	&__jcfs, &__justify-content-flex-start {
		justify-content: flex-start !important;
	}
	&__jcfe, &__justify-content-flex-end {
		justify-content: flex-end !important;
	}
	&__jcsb, &__justify-content-space-between {
		justify-content: space-between !important;
	}
	&__jcsa, &__justify-content-space-around {
		justify-content: space-around !important;
	}
	&__fww, &__flex-wrap-wrap {
		flex-wrap: wrap !important;
	}
	&__fwn, &__flex-wrap-nowrap {
		flex-wrap: nowrap !important;
	}
}