// Base

$images-base-logo 								: url('../svg/base/logo.svg');
$images-base-logo-footer						: url('../svg/base/logoFooter.svg');
$images-base-info								: url('../svg/base/info.svg');
$images-base-user 								: url('../svg/base/user.svg');
$images-base-user-big 							: url('../svg/base/user-big.svg');
$images-base-cog								: url('../svg/base/cog.svg');
$images-base-bookmark							: url('../svg/base/bookmark.svg');
$images-base-favorite							: url('../svg/base/favorite-colored.svg');
$images-base-favorite-active					: url('../svg/base/favorite-colored-active.svg');
$images-base-search								: url('../svg/base/search.svg');
$images-base-search-active						: url('../svg/base/search-active.svg');
$images-base-search-chat						: url('../svg/base/search_chat.svg');
$images-base-search-chat-active					: url('../svg/base/search_chat-active.svg');
$images-base-burger								: url('../svg/base/burger.svg');
$images-base-burger-active						: url('../svg/base/burger-active.svg');
$images-base-burger-big							: url('../svg/base/burger-big.svg');
$images-base-burder-big-active					: url('../svg/base/burger-big-active.svg');
$images-base-home 								: url('../svg/base/home.svg');
$images-base-arrowDown							: url('../svg/base/arrowDown.svg');
$images-base-arrowDownGray						: url('../svg/base/arrowDownGray.svg');
$images-base-arrowDownBig						: url('../svg/base/arrowDownBig.svg');
$images-base-arrowDownActive					: url('../svg/base/arrowDownActive.svg');
$images-base-arrowUpActive						: url('../svg/base/arrowUpActive.svg');
$images-base-arrowUpInactive					: url('../svg/base/arrowUpInactive.svg');
$images-base-arrowDownInactive					: url('../svg/base/arrowDownInactive.svg');
$images-base-arrowDownInactiveGray				: url('../svg/base/arrowDownInactiveGray.svg');
$images-base-arrowLeftMaincolor					: url('../svg/base/arrowLeftMaincolor.svg');
$images-base-arrowRightMaincolor				: url('../svg/base/arrowRightMaincolor.svg');
$images-base-arrowRightBig						: url('../svg/base/arrowRightBig.svg');
$images-base-arrowRightGray						: url('../svg/base/arrowRightGray.svg');
$images-base-arrowRightGray-active				: url('../svg/base/arrowRightGrayActive.svg');
$images-base-next-small-white					: url('../svg/base/next-small-white.svg');
$images-base-catalog-arrowDown					: url('../svg/base/catalog-arrowDown.svg');
$images-base-catalog-arrowDown-active			: url('../svg/base/catalog-arrowDown-active.svg');
$images-base-product-card-left					: url('../svg/base/product-card-left.svg');
$images-base-product-card-right					: url('../svg/base/product-card-right.svg');
$images-base-eye-on								: url('../svg/base/eye-on.svg');
$images-base-eye-off							: url('../svg/base/eye-off.svg');
$images-base-check-active						: url('../svg/base/check-active.svg');
$images-base-learning							: url('../svg/base/learning.svg');
$images-base-messages							: url('../svg/base/messages.svg');
$images-base-operator							: url('../svg/base/operator.svg');
$images-base-order								: url('../svg/base/order.svg');
$images-base-list 								: url('../svg/base/list.svg');
$images-base-package							: url('../svg/base/package.svg');
$images-base-edit-active						: url('../svg/base/edit-active.svg');
$images-base-actions-edit						: url('../svg/base/actions-edit.svg' );
$images-base-actions-remove						: url('../svg/base/actions-remove.svg');
$images-base-catalogback						: url('../svg/base/catalog-back.svg');
$images-base-contacts					        : url('../svg/base/contacts.svg');
$images-base-contacts-active					: url('../svg/base/contacts-active.svg');
$images-base-chat					            : url('../svg/base/chat.svg');
$images-base-chat-active					    : url('../svg/base/chat-active.svg');
$images-base-chat-close					        : url('../svg/base/chat-close.svg');
$images-base-pin-active					        : url('../svg/base/pin-active.svg');
$images-base-plus-active 						: url('../svg/base/plus-active.svg');
$images-base-plus-inactive 						: url('../svg/base/plus-inactive.svg');
$images-base-pagination-prev					: url('../svg/base/pagination-prev.svg');
$images-base-pagination-next 					: url('../svg/base/pagination-next.svg');
$images-base-remove-preview						: url('../svg/base/remove-preview.svg');
$images-base-remove-preview-close				: url('../svg/base/remove-preview-close.svg');
$images-base-transparent						: url('../svg/base/transparent.svg');
$images-base-users						        : url('../svg/base/users.svg');
$images-base-user-profile						: url('../svg/base/user-profile.svg');
$images-base-user-circle						: url('../svg/base/user-circle.svg');



$images-base-warranty-1							: url('../svg/base/warranty-1.svg');
$images-base-warranty-2							: url('../svg/base/warranty-2.svg');
$images-base-warranty-3							: url('../svg/base/warranty-3.svg');

$images-base-social-vk-white					: url('../svg/base/social-vk-white.svg');
$images-base-social-ok-white					: url('../svg/base/social-ok-white.svg');
$images-base-social-google-white				: url('../svg/base/social-google-white.svg');


// Mainpage

$images-mainpage-feature-1						: url('../svg/mainpage/howItWork-icon-1.svg');
$images-mainpage-feature-2						: url('../svg/mainpage/howItWork-icon-2.svg');
$images-mainpage-feature-3						: url('../svg/mainpage/howItWork-icon-3.svg');
$images-mainpage-feature-4						: url('../svg/mainpage/howItWork-icon-4.svg');

$images-mainpage-howitwork                      : url('../svg/mainpage/mainpageWhatIsMarket.svg');

// Flags
$images-flags-arabic							: url('../svg/flags/flags-arabic.svg');
$images-flags-dutch								: url('../svg/flags/flags-dutch.svg');
$images-flags-french							: url('../svg/flags/flags-french.svg');
$images-flags-german							: url('../svg/flags/flags-german.svg');
$images-flags-hebrew							: url('../svg/flags/flags-hebrew.svg');
$images-flags-hindi								: url('../svg/flags/flags-hindi.svg');
$images-flags-indonesian						: url('../svg/flags/flags-indonesian.svg');
$images-flags-italian							: url('../svg/flags/flags-italian.svg');
$images-flags-japanese							: url('../svg/flags/flags-japanese.svg');
$images-flags-korean							: url('../svg/flags/flags-korean.svg');
$images-flags-portuguese						: url('../svg/flags/flags-portuguese.svg');
$images-flags-russian							: url('../svg/flags/flags-russian.svg');
$images-flags-spanish							: url('../svg/flags/flags-spanish.svg');
$images-flags-thai								: url('../svg/flags/flags-thai.svg');
$images-flags-turkish							: url('../svg/flags/flags-turkish.svg');
$images-flags-vietnamese						: url('../svg/flags/flags-vietnamese.svg');
$images-flags-english						    : url('../svg/flags/flags-english.svg');
$images-flags-chinese						    : url('../svg/flags/flags-chinese.svg');

// Flags Round (for interfaces)
$flags-ru 										: url('../svg/flags-round/flag-ru.svg');

// Staticpage icons
$images-static-arrowUp							: url('../svg/static/static-arrowUp.svg');
$images-static-arrowUp-active 					: url('../svg/static/static-arrowUp-active.svg');
$images-static-arrowDown						: url('../svg/static/static-arrowDown.svg');
$images-static-arrowDown-active					: url('../svg/static/static-arrowDown-active.svg');

// Chat
$images-chat-dots-active						: url('../svg/chat/chat-dots-active.svg');
$images-chat-dots-inactive						: url('../svg/chat/chat-dots.svg');

//404
$images-not-found						        : url('../svg/errors/404.svg');

