// Z-index
$z-modal: 100;
$z-header: 10;
$z-header-bottom: 8;
$z-footer: 5;
$z-sidebar: 4;
$z-catalog-product: 1;
$z-catalog-product-hover: 2;

$z-cabinet-action: 6;

// Font
$mainFont						: 'Montserrat';

// Colors
$colors-main					: #4B4BD8;
$colors-textBase				: #222222;
$colors-textSlider				: #333333;
$colors-titles					: #333333;
$colors-titles-gray				: rgba(0, 0, 0, 0.4);
$colors-search-button			: #EEEEEE;
$colors-disabled-button			: rgba(0, 0, 0, 0.1);
$colors-neutral-background		: #F7F7F7;
$colors-neutral-border			: #F0F0F0;
$colors-footer					: #333333;
$colors-footer-bottom			: #505050;
$colors-footer-link				: #EEEEEE;
$colors-error 					: #D84B4B;
$colors-temporary-mainpage		: #C4C4C4;
$colors-imageSlider-background  : #000000ba;
$colors-imageSlider-toolbar     : rgba(0, 0, 0, 0.45);
$colors-main-light              : rgba(75, 75, 216, 0.4);
$colors-border			        : rgba(0, 0, 0, 0.1);