.cabinet {
  padding: 30px 0;
  margin: 0 auto;
  width: 1200px;
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $colors-titles;
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&__text {
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
			letter-spacing: 0.02em;
			color: $colors-titles;
		}
		&__icon {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			width: 20px;
			height: 20px;
			margin-left: 10px;
		}
	}
	&__contacts {
		display: flex;
		height: calc(100vh - 195px);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		color: #333;
	}
	&__subtitle {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 20px;
		color: $colors-titles;
		letter-spacing: 0.02em;
		margin-top: 35px;
	}
	&__section {
		width: 580px;
		margin-bottom: 60px;
		&:last-child { margin-bottom: 30px; }
	}
	&__hidden {
		&__title {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: $colors-main;
			margin-top: 30px;
			background-image: $images-base-arrowDownActive;
			background-repeat: no-repeat;
			background-position: right center;
			display: inline-block;
			padding-right: 25px;
			&:hover {
				cursor: pointer;
				color: $colors-titles;
			}
		}
		&__content {
			display: none;
			margin-top: 40px;
		}
		&-show {
			.cabinet__hidden {
				&__title {
					background-image: $images-base-arrowUpActive;
				}
				&__content {
					display: block;
				}
			}
		}
	}
	&__content {
		&__personalData {
			// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
			background-color: white;
			padding-bottom: 40px;
			&__form {
				width: 580px;
			}
		}	
		&__managers {
			// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
			background-color: white;
			// padding: 20px 30px 40px;
			padding-top: 20px;
			padding-bottom: 40px;
			&__form {
				width: 580px;
			}
			&__table {
				.actions {
					margin-right: 20px;
				}	
			}
			&__text {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 200%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				max-width: 580px;
			}
			&__actionButtons {
				&-line {
				}
			}
		}
		&__tabs {
			.tabs__titles {
				border-bottom: 1px solid rgba(#000, 0.2);
				margin-bottom: 20px;
				li {
					padding: 20px 0;
					margin-right: 100px;
					color: $colors-titles;
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 120%;
					letter-spacing: 0.02em;
					cursor: pointer;
                    & a {
                        color: $colors-titles;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &.tabs__titles__active a{
                        color: $colors-main;
                    }
					&:last-child { margin-right: 0; }
                    
				}
			}
		}
		&__profiles {
			&-empty{
				max-width: 580px;
			}
			
			&__elements {
				margin-top: 50px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			&__element {
				background: #FFF;
				padding: 40px 20px 40px 55px;
				border: 1px solid rgba(0, 0, 0, 0.2);
				box-sizing: border-box;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				margin-bottom: 20px;
				width: calc(100% / 2 - 10px);

				&.active,
				&:hover{
					border: 1px solid $colors-main;
				}

			}
			&__image {
				width: 130px;
				height: 130px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-color: #f0f0f0;
				margin-right: 30px;
			}
			&__content {
				//width: calc(100% - 130px - 30px - 155px - 30px);
				width: 100%;
				&__title {
					font-size: 16px;
					font-weight: 600;
					line-height: 120%;
					color: $colors-titles;
					margin-bottom: 17px;
					word-break: break-word;
				}
				&__parameter {
					font-size: 14px;
					line-height: 120%;
					font-weight: normal;
					margin-bottom: 15px;
					color: $colors-titles;
					span {
						margin-bottom: 5px;
						display: inline-block;
						color: rgba(0, 0, 0, 0.4);
					}
				}
			}
			&__actions {
				margin-left: 30px;
				min-width: 155px;
				.button {
					margin-top: 0;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			span{
				line-height: 140%;
			}
		}

		&__filter {
			background-color: $colors-neutral-background;
			padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 10px;
			&__row {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				&-space-between { justify-content: space-between; }
			}
			&__search {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				&__input {
					width: 450px;
					height: 40px;
					font-size: 14px;
					padding-left: 48px;
					padding-right: 15px;
					box-sizing: border-box;
					border: 1px solid rgba(#000, 0.1);
					margin-right: 20px;
					background-repeat: no-repeat;
					background-position: left 15px center;
					background-size: auto;
					background-image: $images-base-search;
					&::placeholder {
						color: rgba(#000, 0.4);
					}
				}
				&__select {
					appearance: none;
					padding-right: 30px;
					padding-left: 15px;
					background-image: $images-base-arrowDownInactiveGray;
					background-repeat: no-repeat;
					background-position: right 15px center;
					width: 250px;
					height: 40px;
					border: 1px solid rgba(0, 0, 0, 0.1);
					box-sizing: border-box;
					border-radius: 0;
					background-color: #fff;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					margin-right: 20px;
					color: $colors-titles;
				}
				&__more {
					width: 100%;
					display: none;
					&-active { display: block; }
					&__row {
						margin-top: 30px;
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						&:last-child {
							margin-bottom: 40px;
						}
						&__element {
							display: flex;
							align-items: flex-start;
							justify-content: flex-start;
							flex-wrap: wrap;
							label {
								display: block;
								width: 100%;
								font-style: normal;
								font-weight: normal;
								font-size: 14px;
								line-height: 14px;
								color: $colors-titles;
								margin-bottom: 10px;
							}
							input[type='text'], select {
								width: 450px;
								height: 40px;
								border: 1px solid rgba(0, 0, 0, 0.1);
								box-sizing: border-box;
								border-radius: 0;
								background-color: #FFF;
								appearance: none;
								padding-left: 15px;
								font-style: normal;
								font-weight: normal;
								font-size: 14px;
								color: $colors-titles;
							}
							input[type='text'] {
								&::placeholder {
									font-style: normal;
									font-weight: normal;
									font-size: 14px;
									color: rgba(#000, 0.4);
								}
							}
							select {
								padding-right: 30px;
								background-image: $images-base-arrowDownInactiveGray;
								background-repeat: no-repeat;
								background-position: right 15px center;
							}
						}
						&.priceRange {
							.cabinet__content__filter__search__more__row {
								&__element {
									margin-right: 18px;
									align-items: center;
									input[type='text'] {
										width: 216px;
										height: 40px;
									}
								}
							}
						}
					}
				}
				.button {
					margin: 0;
					height: 40px;
					line-height: 40px;
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&__showDetailFilter {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				color: $colors-main;
				padding-right: 24px;
				background-position: right center;
				background-repeat: no-repeat;
				background-image: $images-base-arrowUpActive;
				transition: all 150ms ease-in-out;
				flex-grow: 0;
				flex-shrink: 0;
				&:hover {
					cursor: pointer;
					/*background-image: $images-base-arrowDownInactive;*/
					color: $colors-titles;
				}
				&-active {
					background-image: $images-base-arrowDownActive;
					&:hover {
						/*background-image: $images-base-arrowUpInactive;*/
						cursor: pointer;
						color: $colors-titles;
					}
				}
			}
		}
		&__actionButtons {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 40px;
			.button {
				margin-top: 0;
				margin-right: 20px;
			}
		}
        &__title__wrapper {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-top: 40px;
            .button {
				margin-top: 0;
                margin-bottom: 25px;
			}
        }
		&__productsFilters {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 30px;
			padding-top: 5px;
			&__first {
				// Стили для первой группы фильтров (слева)
			}
			&__second {
				// Стили для второй группы фильтров (справа)
			}
			&__select {
				appearance: none;
				background-color: transparent;
				background-image: $images-base-arrowDownBig;
				background-repeat: no-repeat;
				background-position: right center;
				border: none;
				padding-right: 25px;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				color: $colors-titles;
			}
			.form {
				&__row__checkbox {
					label {
						font-size: 16px;
					}
					[type='checkbox']:checked+label {
						&:after {
							top: 10px;
						}
					}
				}
			}
		}
		&__products {
			&__tabs {
				margin-top: 20px;
				.tabs__titles {
					border-bottom: 1px solid rgba(#000, 0.2);
					margin-bottom: 20px;
					li {
						padding: 20px 0;
						margin-right: 100px;
						color: $colors-titles;
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 120%;
						letter-spacing: 0.02em;
						cursor: pointer;
						&.tabs__titles__active {
							color: $colors-main;
						}
						&:last-child { margin-right: 0; }
					}
				}
			}
			// далее .cabinet__products
		}
		&__finishActions {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			.button {
				margin-top: 0;
				margin-right: 30px;
				&:last-child { margin-right: 0; }
			}
		}
		&__createModel { border-top: 1px solid rgba(0, 0, 0, 0.2); }
		&__category {
			&__search {
				width: 720px;
				height: 40px;
				background-color: #FFFFFF;
				background-repeat: no-repeat;
				background-position: left 15px center;
				background-image: $images-base-search;
				padding-left: 45px;
				margin-bottom: 40px;
				margin-top: 30px;
				display: flex;
				align-items: center;
				border: 1px solid rgba(0, 0, 0, 0.1);
				&__input {
					height: 40px;
					background-color: transparent;
					font-size: 14px;
					width: calc(100% - 100px);
					&::placeholder,
					&::-webkit-input-placeholder,
					&:-ms-input-placeholder {
						font-size: 14px;
						color: rgba(0, 0, 0, 0.4);
					}
				}
				&__button {
					background-color: $colors-main;
					color: $colors-search-button;
					font-size: 14px;
					line-height: 40px;
					height: 40px;
					width: 100px;
					margin-top: -1px;
					margin-bottom: -1px;
					margin-right: -1px;
					padding: 0;
					transition: all 150ms ease-in-out;
					position: relative;
					&:hover {
						cursor: pointer;
						background-color: $colors-titles;
						color: #FFFFFF;
					}
				}
			}
			&__wrapper {
				position: relative;
				font-size: 14px;
			}
			&__ul {
				width: 240px;
				height: 516px;
				overflow-x: hidden;
				overflow-y: scroll;
				border: 1px solid $colors-neutral-border;
				box-sizing: border-box;
				border-radius: 0px;
			}
			&__li {
				position: static;
				cursor: pointer;
				&::after {
					content: $images-base-arrowRightGray;
					float: right;
					text-align: center;
				}
				padding: 15px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				&:hover {
					background-color: rgba($colors-main, 0.1);
					font-weight: 600;
					&::after {
						content: $images-base-arrowRightGray-active;
						float: right;
						text-align: center;
					}
				}
				& > a {
					display: inline-block;
					width: 83%;
					text-decoration: none;
					color: $colors-textBase;
					padding-right: 15px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			&__li__active {
				font-weight: 600;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			&__li &__wrapper {
				position: absolute;
				display: none;
				box-sizing: border-box;
			}
			&__confirm {
				margin-top: 50px;
				&__button {
					background-color: $colors-main;
					color: $colors-search-button;
					font-size: 14px;
					line-height: 40px;
					font-weight: 600;
					height: 40px;
					width: 160px;
					padding: 0;
					transition: all 150ms ease-in-out;
					position: relative;
					&:hover {
						cursor: pointer;
						background-color: $colors-titles;
						color: white;
					}
				}
			}
		}
		// Fancytree table
		table[id="tree"] {
			tbody tr, td {
				border: none;
			}
			td:empty{
				display: none;
			}
			td{
				overflow-y: auto;
				border: 1px solid #F0F0F0;
				overflow-x: hidden;
				ul {
					overflow-x: hidden;
					li{
						height: 50px;
						&:hover{
							background: rgba(75, 75, 216, 0.1);
						}
						&[aria-expanded="true"]{
							background: rgba(75, 75, 216, 0.1);
						}
					}
					
					span.fancytree-node.fancytree-has-children.fancytree-exp-c.fancytree-ico-c{
						height: 42px;
						display: block;
						white-space: nowrap; 
						overflow: hidden; 
						text-overflow: ellipsis;
						padding: 14px 0;
						margin: 0;
						outline: unset;
					}


					span.fancytree-selected span.fancytree-title, span.fancytree-active span.fancytree-title{
						background-color: unset;
						outline: unset;
					}

					span.fancytree-focus.fancytree-title{
						background-color: unset;
						color: #333333;
						outline: unset;
					}

					span.fancytree-title{
						margin: 0 auto;
						width: 100%;
						color: #333333;
						font-size: 14px;
						white-space: nowrap; 
						overflow: hidden; 
						text-overflow: ellipsis;
						padding-right: 30px;
						padding-left: 15px;
						outline: unset;
					}
					span.fancytree-node.fancytree-active.fancytree-expanded.fancytree-has-children.fancytree-exp-e.fancytree-ico-e{
						margin: 0 auto;
						padding-top: 14px;
						font-size: 14px;
						white-space: nowrap; 
						overflow: hidden; 
						text-overflow: ellipsis;
						color: #333;
						background-color: unset;
					}
					span.fancytree-node.fancytree-active.fancytree-expanded.fancytree-has-children.fancytree-exp-e.fancytree-ico-e.fancytree-focused{
						margin: 0 auto;
						padding-top: 14px;
						font-size: 14px;
						white-space: nowrap; 
						overflow: hidden; 
						text-overflow: ellipsis;
						color: #333;
						background-color: unset;
						span.fancytree-title{
							border: unset;
							outline: unset;
						}
					}
				} 
			}
			.fancytree-node.fancytree-expanded.fancytree-has-children.fancytree-exp-e.fancytree-ico-e{
				background-color: unset;
				padding-top: 14px;
				margin: 0;
			}

			.fancytree-node.fancytree-active.fancytree-exp-n.fancytree-ico-c, .fancytree-node.fancytree-active.fancytree-lastsib.fancytree-exp-nl.fancytree-ico-c{
				background-color: unset;
				padding-top: 15px;
				padding-bottom: 15px;
				margin: 0;
				background: rgba(75, 75, 216, 0.1);
				.fancytree-title{
					outline: unset;
				}
			}
			.fancytree-icon.fancytree-cv-right{
				background-image: $images-base-arrowRightGray;
				background-repeat: no-repeat;
                background-position: center center !important;
                width: 10px;
				height: 10px;
				padding: 0 15px;
				margin-top: 5px;
			}

			&.fancytree-ext-columnview span.fancytree-node.fancytree-expanded{
				background-color: unset !important;
			}
		}
	}
	&__products {
		&__item {
			border: 1px solid rgba(0, 0, 0, 0.2);
			padding: 20px;
			margin-bottom: 20px;
			&__main {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				position: relative;
				&__checkbox {
					width: 35px;
				}
				&__photo {
					width: 150px;
					height: 200px;
					background-color: rgba(#000, 0.025);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
				&__info {
					width: calc(100% - 200px - 135px - 35px);
					min-height: 200px;
					padding: 0 25px;
					box-sizing: border-box;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}

				// блоки из &__info
				&__title {
					&__text {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 130%;
						color: $colors-titles;
						margin-bottom: 15px;
					}
					&__art {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 14px;
						color: $colors-titles;
						margin-bottom: 10px;
					}
					&__baseArt {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 14px;
						color: $colors-main;
						margin-bottom: 10px;
					}
					&__category {
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 120%;
						color: rgba(#000, 0.4);
					}
					&__saler {
						margin-top: 15px;
						a {
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 120%;
							color: $colors-main;
							&:hover {
								cursor: pointer;
								color: $colors-titles;
							}
						}
					}
				}
				&__actions {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					.button {
						margin-top: 0;
						margin-right: 10px;
						&-primary-link {
							padding: 0 10px;
						}
					}
				}
				// конец блоков из &__info

				&__price {
					width: 200px;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 14px;
					text-align: right;
					color: $colors-titles;
					&__value {
						font-weight: 600;
						font-style: normal;
						font-size: 14px;
						line-height: 14px;
						text-align: right;
						color: $colors-titles;
						margin-bottom: 10px;
					}
					&__minimum {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 120%;
						text-align: right;
						color: $colors-titles;
						span {
							color: rgba(0, 0, 0, 0.4);
						}
					}
				}
				&__addOffer {
					width: 24px;
					height: 24px;
					position: absolute;
					bottom: 0px;
					right: 0px;
					background-position: center center;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: $images-base-plus-active;
					transition: all 150ms;
					&:hover {
						cursor: pointer;
						background-image: $images-base-plus-inactive;
					}	
				}
			}
			&__offers {
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				margin-top: 30px;
				margin-left: -20px;
				margin-right: -20px;
				padding: 0 0 0 215px;
				&__element {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					padding: 20px 20px 20px 0;
					border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					&:last-child { border-bottom: none; }
				}
				&__image {
					width: 85px;
					height: 125px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					background-color: rgba(#000, 0.025);
				}
				&__info {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					min-height: 125px;
					padding: 0 35px;
					width: calc(100% - 200px - 85px);
					&__title {
						font-style: normal;
						font-size: 14px;
						line-height: 120%;
						color: $colors-titles;
					}
					&__actions {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						.button {
							margin-top: 0;
							margin-right: 10px;
							&-primary-link {
								padding: 0 10px;
							}
						}
					}
				}
				&__price {
					width: 200px;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 14px;
					text-align: right;
					color: $colors-titles;
				}
			}

			// Состояния
			&-nocheckbox {
				.cabinet__products__item__main {
					&__info {
						width: calc(100% - 200px - 135px);
					}
				}
			}
		}
		&__checkboxActions {
			margin-bottom: 30px;
			display: flex;
			align-items: center;
            justify-content: space-between;
            margin-left: 20px;
			.form__row__checkbox {
				width: auto;
			}
			.form__row__checkbox__label {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				color: $colors-titles;
				&:after {
					top: 9px;
				}
			}
			&__select {
				margin-left: 35px;
				position: relative;
				&__button {
					cursor: pointer;
					width: 300px;
					height: 40px;
					box-sizing: border-box;
					border: 1px solid $colors-main;
					line-height: 40px;
					padding: 0 15px;
					font-size: 14px;
					color: rgba(0, 0, 0, 0.4);
					background-image: $images-base-arrowDownActive;
					background-repeat: no-repeat;
					background-position: right 10px center;
					user-select: none;
				}
				&__items {
					position: absolute;
					top: 45px;
					left: 0;
					background-color: white;
					width: 100%;
					height: auto;	
					border: 1px solid $colors-main;
					z-index: $z-cabinet-action;
					display: none;
					&-active {
						display: block;
					}
					ul {
						li {
							padding: 0 15px;
							line-height: 40px;
							height: 40px;
							width: 100%;
							color: $colors-main;
							cursor: pointer;
							font-size: 14px;
							font-style: normal;
							font-weight: normal;
							user-select: none;
							&:hover {
								background-color: rgba(75, 75, 216, 0.1);
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
	&__steps {
		background-color: $colors-neutral-background;
		padding: 40px 30px;
		&__content {
			width: 100%;
			max-width: 1000px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			position: relative;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 5px;
				background-color: $colors-main;
				top: 10px;
				left: 1px;
				z-index: 1;
			}
		}	
		&__step {
			position: relative;
			z-index: 3;
			&__marker {
				width: 25px;
				height: 25px;
				border: 5px solid $colors-main;
				box-sizing: border-box;
				border-radius: 10em;
				margin-bottom: 10px;
				background-color: $colors-neutral-background;
				&-active {
					background-color: $colors-main;
				}
			}
			&__name {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
			}
			&:last-child {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 25px;
					width: 100%;
					height: 25px;
					background-color: $colors-neutral-background;
					z-index: 2;
				}
			}
		}
	}
	&__pagination {
		/* src/assets/scss/modules/pagination.scss */
	}
	&__createProduct {
		&__section {
			&-finish {
				margin-top: 40px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				.button {
					margin-top: 0;
					margin-right: 15px;
					&:last-child { margin-right: 0; }
				}
			}
		}
		&__wrapper {
			max-width: 580px;
		}
	}
	&__createModel {
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		margin-top: 30px;
		padding-top: 30px;
		max-width: 580px;
		&__model {
			border-top: 1px solid rgba(0, 0, 0, 0.2);
			margin-top: 50px;
			padding-top: 40px;
			&:first-child {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}
		}	
		&__content {
			max-width: 580px;
		}
		&__actions {
			margin-top: 60px;
		}
	}
	&__hideArea { // Помечает область действия кнопки &__unhide
	}
	&__hide { // скрываемый объект
		display: none;
		&-unactive { // состояние в котором объект отображается
			display: block;
		}
	}
	&__unhide { // Кнопка &__unhide 
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 120%;
		color: $colors-main;
		background-repeat: no-repeat;
		background-position: right center;
		background-size: auto;
		background-image: $images-base-arrowDownActive;
		padding-right: 25px;
		transition: all 150ms ease-in-out;
		&:hover {
			cursor: pointer;
			color: $colors-titles;
			background-image: $images-base-arrowDownBig;
		}
		&-active { // Состояние кнопки, когда все объекты &__hide показаны
			background-image: $images-base-arrowUpActive;
			&:hover {
				background-image: $images-base-arrowUpInactive;
			}
		}
	}
	&__main{
		min-height: calc(100vh - 135px);
	}
}

.cabinetModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(#333, 0.4);
	z-index: $z-modal;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	display: none;
	&__show {
		display: flex;
	}
	&__content {
		width: 535px;
		min-height: 20px;
		background-color: white;
		padding: 40px 30px;
		&__title {
			font-size: 18px;
			font-weight: 600;
			line-height: 120%;
			color: $colors-titles;
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		.button {
			margin-top: 30px;
		}
	}
}


.cabinet__content__category__wrapper.cabinet__content__category__active {
  display: block;
  font-weight: normal;
}

.cabinet__content__category__li.cabinet__content__category__li__active {
  background-color: rgba($colors-main, 0.1);

  &::after {
    content: $images-base-arrowRightGray-active;
    float: right;
    text-align: center;
    cursor: pointer;
  }
}

.cabinet__createRequest {
  &__section-finish {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .button {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      margin-top: 0;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__wrapper {
    max-width: 580px;
  }
}

.form__row {
  &__notification {
    position: relative;
    .infoTooltip {
      position: absolute;
      margin-left: 0;
      top: 1rem;
      left: 680px;
      &__text {
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__input {
    font-family: $mainFont;
  }

  &-hasText {
    .form__row__label__textarea {
      top: -7px;
      font-size: 11px;
      line-height: 14px;
      display: block;
    }
  }

  &__label__textarea {
    display: none;
  }

  &__textarea {
    margin-top: 20px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    &:focus::placeholder {
      color: transparent;
    }
  }

  &__textarea::placeholder {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.4);
  }

  &__select {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.4);
    option {
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

//Фильтр input с атрибутом number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
