%avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 14.5px 10px 14.5px 20px;
    border-radius: 10em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &.online::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #57b457;
        border-radius: 8px;
        left: 36px;
        top: 40px;
    }
}

.contacts__sidebar {
    width: 400px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    .sidebar__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f6f6f6;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 16px;
        font-weight: 600;

        &__container-name {
            height: 81px;
            display: flex;
            align-items: center;

            &__logo {
                @extend %avatar;
            }
        }

        &__settings {
            background-image: $images-base-cog;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 25px;
            margin-right: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .sidebar__tabs {
        .tabs__header {
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            height: 70px;
            font-size: 14px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &__chats {
                width: calc(100% / 3);
                position: relative;
                background-repeat: no-repeat;
                background-position: center top;
                height: 50px;
                background-image: $images-base-chat;
                background-size: 25px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-top: 13px;
                margin-bottom: 7px;

                &:hover,
                &.active {
                    cursor: pointer;
                    color: $colors-main;
                    background-image: $images-base-chat-active;
                }

                &:hover.disabled {
                    background-image: $images-base-chat;
                    opacity:0.5;
                }
                span{

                }
            }

            &__contacts {
                @extend .tabs__header__chats;
                background-image: $images-base-contacts;

                &:hover,
                &.active {
                    background-image: $images-base-contacts-active;
                }

                &:hover.disabled {
                    background-image: $images-base-contacts;
                    opacity:0.5;
                }
            }

            &__search {
                @extend .tabs__header__chats;
                background-image: $images-base-search-chat;
                background-size: 17px;

                &:hover,
                &.active {
                    background-image: $images-base-search-chat-active;
                }

                &:hover.disabled {
                    background-image: $images-base-search-chat;
                    opacity:0.5;
                }
            }

            .disabled {
                opacity:0.5;
            }
        }

        .tabs__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow-y: auto;
            overflow-x: hidden;
            height: 723px;

            &__search {
                &__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    background-color: #f6f6f6;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    &__input {
                        width: 360px;
                        height: 40px;
                        font-size: 14px;
                        line-height: 14px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        padding: 0 15px 0 48px;
                        background-image: $images-base-search;
                        background-repeat: no-repeat;
                        background-position: left 15px center;
                        font-family: $mainFont;

                        &::placeholder {
                            color: rgba(#000000, 0.4);
                        }
                    }
                }
            }

            &.chat {
                height: 750px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            &__contacts {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                //height: 723px;
                height: calc(100vh - 195px - 82px - 70px);
                overflow-y:auto;
                &__contact {
                    display: flex;
                    width: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 79px;
                    position: relative;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0 20px;
                    &:hover {
                        background-color: #f6f6f6;
                        cursor: pointer;
                    }

                    &__logo {
                        @extend %avatar;
                        flex-shrink: 0;
                        flex-grow: 0;
                        margin: 0;
                    }

                    &__name {
                        font-weight: 600;
                        font-size: 16px;
                        margin-left: 10px;
                        margin-right: 10px;
                        width: calc(100% - 60px - 35px);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &__add-contact {
                        width: 25px;
                        height: 50px;
                        background-image: $images-base-contacts;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                        flex-shrink: 0;
                        flex-grow: 0;
                        &:hover {
                            cursor: pointer;
                            background-image: $images-base-contacts-active;
                        }
                    }

                    &__remove-contact {
                        width: 25px;
                        height: 50px;
                        background-image: $images-base-chat-close;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                        flex-shrink: 0;
                        flex-grow: 0;
                    }
                }
            }

            &__chats {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                overflow-y: auto;
                height: calc(100vh - 195px - 82px - 70px);

                &.tabs__header__search__content{
                    height: calc(100vh - 195px - 82px - 70px - 81px);
                }

                &.chat {
                    height: 750px;
                }

                &__chat {
                    display: flex;
                    width: 100%;
                    height: 80px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    font-weight: 600;
                    box-sizing: border-box;
                    position: relative;

                    &:hover {
                        background-color: #f6f6f6;
                        cursor: pointer;
                        .tabs__content__chats__chat__remove-chat { display: block; }
                        .tabs__content__chats__chat__date, .tabs__content__chats__chat__messages-count{ display: none}
                    }

                    &__logo {
                        @extend %avatar;
                    }

                    &__container {
                        display: flex;
                        width: 240px;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        line-height: 14px;
                        padding: 20px 0 20px 0;
                    }

                    &__name {
                        font-size: 16px;
                        position: relative;
                        padding-right: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:hover {
                            cursor: pointer;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                background-image: $images-base-pin-active;
                                opacity: 0.4;
                                margin-left: 5px;
                                margin-top: -3px;
                                cursor: pointer;
                            }
                        }

                        &.fix::before {
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            background-image: $images-base-pin-active;
                            cursor: pointer;
                            right: -1px;
                            top: 0;
                        }
                    }

                    &__date {
                        font-size: 16px;
                        color:$colors-main-light;
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }

                    &__history {
                        min-width: 100%;
                        padding-top: 14px;
                        font-size: 16px;
                        font-weight: normal;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        span {
                            color: rgba(75, 75, 216, 0.6);
                            margin-right: 5px;
                        }
                    }
                    &__messages-count{
                        display: flex;
                        align-items: center;
                        border-radius: 18px;
                        justify-content: center;
                        height: 20px;
                        color: white;
                        padding-left: 6px;
                        padding-right: 6px;
                        font-size: 12px;
                        position: absolute;
                        right: 20px;
                        width: auto;
                        min-width: 20px;
                        top: 44px;
                        background-color: $colors-main-light;
                    }
                    &__remove-chat{
                        @extend .tabs__content__contacts__contact__remove-contact;
                        height: 25px;
                        display: none;
                        position: absolute;
                        right: 20px;
                        top: calc(50% - 12.5px);
                    }
                }
            }
        }
    }
}

.contacts__chat {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .chat__message-empty {
        text-align: center;
        font-size: 16px;
        padding-top: 210px;
        line-height: 140%;
        width: 270px;
    }

    .chat__header {
        max-width: 100%;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;

        &__right {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            padding: 23px 20px;
            line-height: 14px;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__name {
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            a {
                color: $colors-titles;

                &:hover {
                    cursor: pointer;
                    color: $colors-main;
                }
            }
        }

        &__was-online {
            opacity: 0.4;
            margin-left: 20px;
        }

        &__left {
            display: -ms-flexbox;
            display: flex;
            justify-content: flex-end;
            padding: 0 30px;
            user-select: none;
            min-width: 150px;
            align-items: center;
        }

        &__search {
            width: 20px;
            height: 100%;
            cursor: pointer;
            background-image: $images-base-search;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.4;
        }

        &__logo {
            @extend %avatar;
            width: 32px;
            height: 32px;
            margin: 0 0 0 20px;
        }
    }

    .chat__body {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .chat__content {
            max-height: 100%;
            height: auto;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding-top: 30px;
            padding-bottom: 30px;
            overflow-y: auto;

            &__date {
                margin-bottom: 30px;
                line-height: 14px;
                opacity: 0.4;
                text-align: center;
            }

            &__mess-stack {
                display: flex;
                padding-bottom: 7.5px;
                padding-top: 7.5px;
                position: relative;

            &__logo {
                @extend %avatar;
                margin: 0 10px 0 20px;
                flex-shrink: 0;
                flex-grow: 0;
            }

            &__content {
                margin-top: 5px;
                width: calc(100% - 115px);
            }

            &__name {
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: $colors-main;
                padding-right: 30px;
            }

            .message__text {
                padding: 5px 30px 7px 0;
                word-wrap: break-word;
                font-size: 16px;
                line-height: 19px;
            }

            .message__arrow {
                background-image: $images-chat-dots-inactive;
                width: 16px;
                height: 8px;
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                background-size: 16px;
                flex-shrink: 0;
                position: absolute;
                right: 20px;
                cursor: pointer;
                &:hover {
                    background-image: $images-chat-dots-active;
                }

                &.active {
                    background-image: $images-chat-dots-active;
                }
            }
            .message__time{
                position: absolute;
                top: 35px;
                color: #999999;
                font-size: 14px;
                right: 20px;
            }
            &.unread{
                background-color: $colors-neutral-background;
            }
            &.right{
                flex-direction: row-reverse;
                .chat__content__mess-stack__logo{ margin-left: 10px; margin-right: 70px; }
                .chat__content__mess-stack__name, .message__text{ text-align: right; padding-left: 30px; padding-right: 0; }
            }
        }
    }
}

.chat__input {
    width: 100%;
    background: rgba(75, 75, 216, 0.08);
    padding: 16px 22px 16px 20px;
    //min-height: 70px;
    //height: 200%;
    max-height: max-content;
    position: relative;

    &__content {
        background: #fff;
        position: relative;
        cursor: text;
        border: solid 1px #d3d9de;
        font-size: 14px;
        margin-right: 100px;
    }

    &__text {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word;
        box-sizing: border-box;
        min-height: 36px;
        padding: 10px 20px 5px 20px;
        padding: 10px 20px 5px 20px;
        display: inline-block;
        width: 100%;
        font-family: $mainFont;
    }

    &__button {
        font-weight: 600;
        color: $colors-main;
        opacity: 0.4;
        position: absolute;
        transition: 250ms;
        bottom: 25.5px;
        right: 22px;
        padding: 0;
        background: none;
        font-family: $mainFont;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.chat__menu {
    position: absolute;
    opacity: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translate(0, 15px) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    z-index: -1;
    width: 205px;
    padding: 25px 20px 10px;
    background: #f6f6f6;

    &__menu-item {
        white-space: nowrap;
        cursor: pointer;
        text-align: left;
        text-decoration: none;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 14px;

        &:hover {
            font-weight: 700;
            cursor: pointer;
        }
    }

    &.show-menu {
        opacity: 1;
        z-index: 12;
        transform: translate(0, 0) scale(1);
        pointer-events: auto;
    }
}
}

// Модальное окно настроек
.contacts__modal {
//position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
//background-color: rgba(#333, 0.4);
z-index: $z-modal;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
display: flex;
font-family: $mainFont;

&__init {
    overflow-y:none;
}

&__content {
    width: 800px;
    min-height: 480px;
    background-color: white;
    display: flex;
    position: relative;
    padding: 0;

    .modal__content__close {
        position: absolute;
        background-image: $images-base-chat-close;
        width: 20px;
        height: 20px;
        top: 10px;
        left: calc(100% - 30px);
        background-color: unset;
        opacity: 0.5;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .modal__content__modalmenu {
        width: 40%;
        border-right: 1px solid rgba(0, 0, 0, 0.2);

        .content__modalmenu__title {
            height: 60px;
            padding: 20px 30px;
            font-weight: bold;
            font-size: 18px;
            line-height: 120%;
            color: $colors-titles;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .modalmenu__item {
            width: 100%;
            height: 60px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);


            &.active {
                background-color: rgba(75, 75, 216, 0.1);
            }

            &:hover {
                background-color: rgba(75, 75, 216, 0.1);
                cursor: pointer;
            }

            .item__icon {

                margin-left: 30px;
                background-repeat: no-repeat;
                background-position: center center;
                width: 25px;
                height: 25px;

                &.translate {
                    background-image: $images-base-user-big;
                }

                &.profile {
                    background-image: $images-base-learning;
                }

            }

            .item__name {
                margin-left: 10px;
                flex-grow: 1;
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
            }

            .item__arrow {
                background-image: $images-base-arrowRightBig;
                background-repeat: no-repeat;
                background-position: center center;
                width: 15px;
                height: 15px;
                margin-right: 30px;
            }
        }
    }

    .modal__content__settings {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content__settings__wrapper {
            display: flex;
            flex-direction: column;
        }

        .content__settings__button-wrapper {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            padding: 30px;
        }

        .content__settings__title {
            height: 50px;
            padding-top: 20px;
            padding-left: 30px;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: $colors-titles-gray;
        }

        .settings__item {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            .item__settings {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
            }

            .item__settings__title {
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                margin-left: 30px;
            }

            .item__settings__content {
                margin-right: 30px;
                .settings__content__switch {
                    position: relative;
                    display: inline-block;
                    width: 31px;
                    height: 16px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                        transition: .4s;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        background-color: $colors-main;
                        transition: .4s;
                    }

                    input:checked+.slider.round:before {
                        background-color: $colors-main;
                    }

                    input:checked+.slider:before {
                        transform: translateX(16px);
                    }

                    .slider.round {
                        border-radius: 31px;

                        &::before {
                            border-radius: 50%;
                            background-color: #6D6D6D;
                        }
                    }
                }
            }
        }
    }
}

&__body {
    display: flex;
    padding: 0;
}
}