.catalog {
	.breadcrumbs { margin-top: 30px; }
	
	&__title {
		width: 100%;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $colors-titles;
		margin-bottom: 30px;
	}

	&__filterTop {
		background-color: $colors-neutral-background;
		min-height: 55px;
		width: 100%;
		padding: 0 15px;
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&__back {
			width: 32px;
			display: block;
			height: 55px;
			background-image: $images-base-catalogback;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: contain;
		}
		&__area {
			width: calc(100% - 32px - 20px);
			margin-left: 20px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__sort {
			&__select {
                font-family: $mainFont, 'FontAwesome';
				background: none;
				border: none;
				appearance: none;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				width: 150px;
				color: $colors-titles;
				background-image: $images-base-catalog-arrowDown;
				background-position: right center;
				background-repeat: no-repeat;
				padding-right: 15px;
				user-select: none;
			}
		}
	}

	
    &.tabs__titles {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        li {
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            color: $colors-titles;
            letter-spacing: 0.02em;
            margin-left: 50px;
            & a {
                color: $colors-titles;
            }
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                cursor: pointer;
            }
            &.tabs__titles__active a{
                color: $colors-main;
            }
        }
    }		
	

	&__content {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		&__left {
			width: 270px;
			margin-right: 30px;
		}
		&__right {
			width: calc(100% - 300px);
		}
	}

	&__categories {
		&__block {
			margin-bottom: 35px;
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				color: $colors-titles;
				margin-bottom: 14px;
				cursor: pointer;
				user-select: none;
				position: relative;
                a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 120%;
                    color: $colors-titles;
                    &:hover {
                        cursor: pointer;
                        color: $colors-main;
                    }
				}
				&.showAll {
					&:after {
						position: absolute;
						content: "";
						width: 12px;
						height: 12px;
						background-image: $images-base-catalog-arrowDown;
						background-position: right center;
						background-repeat: no-repeat;
						background-size: contain;
						margin-left: 7px;
					}
				}
			}
			&__links {
				display: none;
				ul {
					li {
						margin-bottom: 10px;
						a {
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 120%;
							color: $colors-titles;
							&:hover {
								cursor: pointer;
								color: $colors-main;
							}
							&.catalog__categories__block__links__showAll {
								font-style: normal;
								font-weight: normal;
								font-size: 14px;
								line-height: 120%;
								color: $colors-main;
								position: relative;
								&:after {
									top: 0;
									right: -17px;
									content: '';
									position: absolute;
									background-image: $images-base-catalog-arrowDown-active;
									background-repeat: no-repeat;
									background-position: center center;
									background-size: contain;
									height: 18px;
									width: 10px;
								}
							}
							&.catalog__categories__block__links__hideAll {
								font-style: normal;
								font-weight: normal;
								font-size: 14px;
								line-height: 120%;
								color: $colors-main;
								position: relative;
								&:after {
									top: 0;
									right: -17px;
									content: '';
									position: absolute;
									background-image: $images-base-arrowUpActive;
									background-repeat: no-repeat;
									background-position: center center;
									background-size: contain;
									height: 18px;
									width: 10px;
								}
							}
						}
					}
				}
			}
			&.active {
				.catalog__categories__block__links {
					display: block;
				}
				
				.catalog__categories__block__title{
					&:after {
						position: absolute;
						content: "";
						width: 12px;
						height: 12px;
						background-image: $images-base-catalog-arrowDown;
						background-position: right center;
						background-repeat: no-repeat;
						background-size: contain;
						transform: rotate(180deg);
						margin-right: 7px;
					}
				}
			}
		}
	}

	&__filter {
		// Стили для всех фильтров в сайдбаре каталога
		margin-bottom: 40px;
        &__button {
            font-family: $mainFont;
			background-color: $colors-main;
			color: $colors-search-button;
			font-size: 14px;
			line-height: 40px;
			height: 40px;
            width: 100%;
			margin-top: -1px;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 0;
			transition: all 150ms ease-in-out;
			position: relative;
			&:hover {
				cursor: pointer;
				background-color: $colors-titles;
				color: white;
			}
        }
	}

	&__digitalFilter {
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 120%;
			margin-bottom: 15px;
		}
		&__inputs {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&__input {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				&:first-child {
					margin-right: 20px;
				}
				span {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 14px;
					color: rgba(0, 0, 0, 0.4);
					margin-right: 10px;
				}
				input[type='text'] {
					width: 90px;
					height: 40px;
					border: 1px solid rgba(0, 0, 0, 0.1);
					padding: 0 15px;
					box-sizing: border-box;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 14px;
					color: $colors-titles;
				}
			}
		}
	}

	&__filterColors {
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 120%;
			margin-bottom: 15px;
		}
		&__content {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&__colorWrapper {
			margin-right: 8px;
			margin-bottom: 8px;
			border-radius: 10em;
			width: 24px;
			height: 24px;
			box-sizing: border-box;
			border: 1px solid transparent;
			position: relative;
			&__color {
				position: absolute;
				top: 1px;
				left: 1px;
				background-color: #000;
				border-radius: 10em;
				width: 20px;
				height: 20px;
				&-transparent {
					background-image: $images-base-transparent;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}
			}
			&-selected {
				border-color: $colors-main;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}

	// Товары
	&__products {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2px;
		// border: 1px solid rgba(0, 0, 0, 0.1);
		&__item {
			box-sizing: border-box;
			padding: 15px;
			background-color: white;
			transition: box-shadow 150ms ease-in-out;
			z-index: 1;
			&:hover {
				z-index: 2;
				box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
			}
			&__image {
				display: block;
				width: 100%;
				height: 270px;
				background-color: $colors-neutral-background;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				position: relative;
				margin-bottom: 15px;
				box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
			}
			&__favorite {
				display: block;
				width: 34px;
				height: 34px;
				border-radius: 10em;
				position: absolute;
				top: 20px;
				right: 20px;
				background-color: white;
				background-image: $images-base-favorite;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 16px 22px;
				transition: all 150ms ease-in-out;
				&:hover {
					cursor: pointer;
					background-image: $images-base-favorite-active;
				}
				&.active {
					background-image: $images-base-favorite-active;
					&:hover {
						cursor: pointer;
						background-image: $images-base-favorite;
					}
				}
			}
			&__title {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom: 15px;
			}
			&__price {
				font-style: normal;
				font-weight: 600;
				font-size: 17px;
				line-height: 120%;
				color: $colors-titles;
				margin-bottom: 5px;
				span {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 120%;
					color: #888;
				}
			}
			&__minOrder {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				margin-bottom: 15px;
				color: $colors-titles;
				span {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 120%;
					color: #888;
				}
			}
			&__salerLink {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				color: $colors-main;
				transition: all 150ms ease-in-out;
				&:hover {
					cursor: pointer;
					color: $colors-titles;
				}
			}
		}
	}

	// Пагинация
	&__pagination {
		/* src/assets/scss/modules/pagination.scss */
	}
}