.categories {
	padding: 30px 0;
	&__title {
		width: 100%;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $colors-titles;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	&__selector {
		margin-top: 20px;
		background-color: #F7F7F7;
		width: 100%;
		padding: 20px 30px 30px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		&__all {
			color: $colors-main;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 28px;
			cursor: pointer;
			transition: all 150ms ease-in-out;
			margin-right: 20px;
			width: 120px;
			&:hover {
				color: $colors-titles;
			}
		}
		&__liters {
			width: calc(100% - 120px);
			&__block {
				width: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				margin-bottom: 10px;
				&:last-child { margin-bottom: 0; }
			}
			&__item {
				margin-right: 5px;
				//background-color: #fff;
				width: 28px;
				height: 28px;
				line-height: 28px;
				text-align: center;
				color: $colors-titles;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				cursor: pointer;
				&__disabled {
					cursor: default;
					opacity: 0.2;
					background-color: transparent;
				}
				&__active {
					color: white;
					background-color: $colors-main;
				}
			}
		}
	}
	&__content {
		margin-top: 48px;
		width: 100%;
	}
	&__liter {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 40px;
		&:last-child { margin-bottom: 0; border-bottom: none; }
		&__title {
			background-color: $colors-main;
			color: #FFF;
			width: 28px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			font-size: 14px;
			font-style: normal;
            font-weight: bold;
            text-transform: capitalize;
		}
		&__content {
			margin-top: 30px;
		}
	}
	&__element {
        margin-bottom: 40px;

		&__title {
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 130%;
            color: $colors-titles;
                a {
                    color: $colors-titles;
                }
                a:hover{
                    color: $colors-main;
                }
		}
		&__content {
			margin-top: 30px;
		}
	}
	&__catalog {
		margin-bottom: 40px;
		&:last-child { margin-bottom: 0; }
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 130%;
			color: $colors-titles;
			margin-bottom: 14px;
            margin-top: 40px;
                a {
                    color: $colors-titles;
                }
                a:hover{
                    color: $colors-main;
                }

		}
		&__content {
			columns: 3;
			ul {
				li {
					a {
						display: block;
						font-size: 14px;
						line-height: 130%;
						margin-bottom: 10px;
						color: $colors-titles;
						transition: color 150ms ease-in-out;
						&:hover {
							cursor: pointer;
							color: $colors-main;
						}
					}
				}
			}
		}
	}
}
