.errors {
	height: 653px;
	&__content{
		margin: 0 auto;
		text-align: center;
	}
	&__title{
		font-weight: 600;
		font-size: 36px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__image {
		width: 889.58px;
		height: 561.76px;
		background-repeat: no-repeat;
		background-image: $images-not-found;
		position: absolute;
		left: calc(50% - 889.58px / 2);
	}
}