.footer {
	background-color: $colors-footer;	
	z-index: $z-footer;
	margin-top: 105px;
	position: relative;
	&__top {
		height: 90px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		.container {
			justify-content: space-between;
		}
		&__left {} // &__logo
		&__right {} // navigation.scss
	}
	&__middle {
		height: 250px;
		display: flex;
		.container {
			padding: 20px 0;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&__left {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			width: calc(100% - 506px);
		}
		&__right {
			border-left: 1px solid rgba(255, 255, 255, 0.2);
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			padding-left: 50px;
			width: 506px;
		}
		&__navblock {
			padding: 20px 0;
			margin-left: 120px;
			&:first-child { margin-left: 0; }
			&__title {
				font-size: 16px;
				line-height: 16px;
				color: #FFFFFF;
				margin-bottom: 20px;
			}
			ul {
				li {
					margin-bottom: 15px;
					&:last-child { margin-bottom: 0; }
					a {
						font-size: 14px;
						line-height: 16px;
						color: rgba($colors-footer-link, 0.5);
						transition: all 150ms ease-in-out;
						&:hover {
							cursor: pointer;
							color: rgba($colors-footer-link, 1);
						}
					}
				}
			}
		}
	}
	&__bottom {
		height: 45px;
		background-color: $colors-footer-bottom;
		padding: 15px 0;
		p {
			font-size: 12px;
			line-height: 16px;
			color: rgba(255, 255, 255, 0.6);
		}
	}
	&__logo {
		display: block;
		width: 173px;
		height: 16px;
		background-image: $images-base-logo-footer;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
		transition: opacity 150ms ease-in-out;
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}
	&-fullwidth {
		margin-top: 0;
		.container {
			width: calc(100% - 80px);
			margin: 0 40px;
			min-width: 1200px;
		}
	}
}