.header {

	background-color: $colors-neutral-background;
	width: 100%;
	z-index: $z-header;
	position: relative;
	&__burger{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		min-height: 65px;
		cursor: pointer;
		&__icon{
			background-repeat: no-repeat;
			background-position: center center;
			width: 35px;
			height: 30px;
			margin-right: 15px;
			background-image: $images-base-burger-big;
		}
	}
	&__logo {
		display: block;
		width: 173px;
		min-width: 130px;
		height: 16px;
		background-image: $images-base-logo;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
		transition: opacity 150ms ease-in-out;
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}
	&__search {
		width: 100%;
		height: 40px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: left 15px center;
		background-image: $images-base-search;
		padding-left: 45px;
		display: flex;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.1);
		&__form {
			background-color: transparent;
			font-size: 14px;
            width: 100%;
            display: flex;
			&::placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder {
				font-size: 14px;
				color: rgba(0, 0, 0, 0.4);
            }
            select{
                -webkit-appearance: none;
            }
            
            input.select2-search__field{
                height: 100%;
                font-family: $mainFont;
            }
		}
        &__input {
            width: calc(100% - 100px);
            font-family: $mainFont;
		}
		&__button {
            font-family: $mainFont;
			background-color: $colors-main;
			color: $colors-search-button;
			font-size: 14px;
			line-height: 40px;
			height: 40px;
			width: 100px;
			margin-top: -1px;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 0;
			transition: all 150ms ease-in-out;
			position: relative;
			&:hover {
				cursor: pointer;
				background-color: $colors-titles;
				color: white;
			}
		}
	}
	&__controls {
		// margin-left: 110px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-wrap: nowrap;
		&__icon {
			width: 25px;
			height: 25px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			margin: 0 auto 5px;
		}
		&__title {
			color: #000;
			font-style: normal;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
			text-align: center;
			max-width: 175px;
			height: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&__company{
				color: $colors-main;
			}
		}
		&__avatar {
			width: 25px;
			height: 25px;
			border-radius: 10em;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 0 auto 5px;
		}
		&__user {
			&__icon { background-image: $images-base-user; }
		}
		&__settings {
			margin-left: 30px;
			&__icon { background-image: $images-base-cog; }
		}
		&__profiles {
			margin-left: 30px;
			&__icon { background-image: $images-base-users; }
		}
		&__favorites {
			margin-left: 30px;
			&__icon { background-image: $images-base-bookmark; }
		}
		> div {
			transition: all 150ms ease-in-out;
			&:hover {
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
	&__top {
		height: 120px;
		.container {
			height: 100%;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
		}
	}
	&__bottom {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		.container { justify-content: start; flex-wrap: nowrap; }
		&__left, &__right {
			height: 45px;
		}
		&__left {
			width: 120px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			transition: all 200ms ease-in-out;
			user-select: none;
			&__icon {
				background-image: $images-base-burger;
				background-position: left center;
				background-size: contain;
				background-repeat: no-repeat;
				height: 16px;
				width: 16px;
				transition: all 200ms ease-in-out;
				&.active {
					transform: rotate3d(0, 1, 0, 180deg);
				}
			}
			&__title {
				padding-left: 10px;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
			}
			&:hover {
				.header__bottom__left__title {
					cursor: pointer;
					color: $colors-main;
				}
				.header__bottom__left__icon {
					background-image: $images-base-burger-active;
				}
			}
		}
		&__right {
			//width: calc(100% - 173px);
			width: 100%;
			position: relative;
		}
	}
	&__main{
		height: 165px;
		&::after{
			content: " ";
			position: absolute;
			height: 1px;
			bottom: 46px;
			background-color: rgba(0, 0, 0, 0.1);
			width: 100%;
		}
		&__left{
			padding-top: 12px;
		}
		&__center{
			width: 100%;
		}
		&__left,
		&__center{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.container{
			align-items: flex-start;
			padding-top: 40px;
		}
		.header__controls{
			margin-top: -3px;
		}
	}
	&-fullwidth {
		.header__top{
			height: 90px;
		}
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		.container {
			width: calc(100vw - 80px);
			margin: 0 40px;
			min-width: 1200px;
		}
	}

	.header__controls{
		.header__controls__menu:last-child{
			.header__controls__menu__submenu{
				left: unset;
				&::before{
					left: calc(100% - 50px);
				}
			}
		}
		margin: 0;
	}
}


//Немного залез в глобальные стили (z-index)
.header__bottom {
  z-index: 9;
}

.header__controls {
  //Немного залез в глобальные стили (opacity, margin)
//   margin: 0 auto;

  &__user,
  &__settings,
  &__profiles,
  &__favorites {
    margin-left: 30px;
  }

  > div {
    &:hover {
      opacity: 1;
    }
  }

  &__user:hover,
  &__settings:hover,
  &__profiles:hover,
  &__favorites:hover {
    opacity: 0.5;
  }

  // Меню controls
  &__menu {
    text-align: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      display: block;
    }
    .header__controls__menu__topmenu > li {
      display: block;
      position: relative;
    }
    //Треугольник над меню
    //.header__controls__menu__topmenu > li > a:before {
    .header__controls__menu__submenu:before {
      content: "";
      position: absolute;
      z-index: 13;
      //left: 50%;
      //top: 60px;
      width: 25px;
      height: 25px;

      background: #f6f6f6;
      box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.05);

		left: calc(50% - 12.5px);
		top: -12.5px;

      transform: rotate(45deg); /* Поворачиваем на 45º */
      //opacity: 0;
    }

    // Костыль для hover
    .header__controls__menu__topmenu > li > a:after {
      content: "";
      position: absolute;
      z-index: 13;
      left: 25%;
      top: 45px;
      width: 90px;
      height: 30px;
      background: transparent;
      opacity: 1;
    }

    .header__controls__menu__topmenu li:hover a:before {
      opacity: 1;
    }

    .header__controls__menu__submenu {
      position: absolute;
      z-index: 12;
      left: calc(50% + 15px);
      top: 100%;

	  min-width: 205px;
      width: max-content;

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 25px;
      padding-bottom: 10px;

      margin-top: 25px;

      background: #f6f6f6;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;

      visibility: hidden;
      opacity: 1;
      transform: translate(-50%, 20px);

      text-decoration: none;
	&__title{
		font-weight: bold;
		&.buyer{
			margin-top: 20px;
		}
	}
    }
    .header__controls__menu__topmenu
      > li:hover
      .header__controls__menu__submenu {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }

    .header__controls__menu__submenu a {
      text-align: left;
      text-decoration: none;
      padding-bottom: 15px;
      color: $colors-textBase;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
    }

    // Меню юзера login
    .header__controls__menu__submenu {
      &__exit a {
        font-weight: 600;
      }
      &__exit::before {
        content: "";
        display: block;
        height: 1px;
        background: #000000;
        opacity: 0.2;
        margin-bottom: 20px;
      }
      &__notification a {
        color: $colors-main;
      }

      // Меню settings
      &__select {
        position: relative;
        margin-bottom: 10px;
		  &-profile{
			  margin-bottom: 15px;
		  }
      }
      &__select select {
        display: block;
        width: 100%;
        padding: 5px 30px 5px 10px;
        background: #ffffff;
        appearance: none;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #333333;
      }
	  &__select-profile select{
		  background: #F6F6F6;
		  padding: 0 30px 0 0;
	  }
      &__select:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #333333 transparent transparent transparent;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
      }
      &__settings {
        margin-bottom: 15px;
      }

	}

    .header__controls__menu__submenu a:hover {
      font-weight: bold;
      cursor: pointer;
    }
	  .header__controls__menu__submenu__profiles {
		  a{
			  padding-bottom: 0;
			  padding-left: 10px;
			  &:hover{
				  font-weight: normal;
				  opacity: 0.8;
			  }
			  &.active{
				  color: $colors-main;
				  font-weight: 600;
			  }
		  }
		  li{
			  display: flex;
			  align-items: center;
			  padding-bottom: 15px;
		  }
	  }
  }
}