.header {
	background-color: $colors-neutral-background;
	width: 100%;
	z-index: $z-header;
	position: relative;
	&__logo {
		display: block;
		width: 173px;
		height: 16px;
		background-image: $images-base-logo;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
		transition: opacity 150ms ease-in-out;
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}
	&__search {
		width: 650px;
		height: 40px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: left 15px center;
		// background-image: $images-base-search;
		// padding-left: 45px;
		display: flex;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.1);
		&__input {
			height: 40px;
			background-color: transparent;
			font-size: 14px;
			width: calc(100% - 100px);
			&::placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder {
				font-size: 14px;
				color: rgba(0, 0, 0, 0.4);
			}
		}
		&__button {
			background-color: $colors-main;
			color: $colors-search-button;
			font-size: 14px;
			line-height: 40px;
			height: 40px;
			width: 100px;
			margin-top: -1px;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 0;
			transition: all 150ms ease-in-out;
			position: relative;
			&:hover {
				cursor: pointer;
				background-color: $colors-titles;
				color: white;
			}
		}
	}
	&__controls {
		margin-left: 110px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-wrap: nowrap;
		width: auto;
		&__icon {
			width: 25px;
			height: 25px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			margin: 0 auto 5px;
		}
		&__title {
			color: #000;
			font-style: normal;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
			text-align: center;
			white-space: nowrap;
		}
		&__avatar {
			width: 25px;
			height: 25px;
			border-radius: 10em;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 0 auto 5px;
		}
		&__user {
			&__icon { background-image: $images-base-user; }
		}
		&__settings {
			margin-left: 30px;
			&__icon { background-image: $images-base-cog; }
		}
		&__favorites {
			margin-left: 30px;
			&__icon { background-image: $images-base-bookmark; }
		}
		> div {
			transition: all 150ms ease-in-out;
			&:hover {
				opacity: 0.5;
				cursor: pointer;
			}	
		}
	}
	&__top {
		height: 120px;
		.container { 
			height: 100%; 
			justify-content: space-between; 
			align-items: center; 
			flex-wrap: nowrap; 
		}
	}
	&__bottom {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		z-index: $z-header-bottom;
		.container { justify-content: space-between; flex-wrap: nowrap; }
		&__left, &__right {
			height: 45px;
		}
		&__left { 
			width: 173px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			transition: all 200ms ease-in-out;
			user-select: none;
			&__icon {
				background-image: $images-base-burger;
				background-position: left center;
				background-size: contain;
				background-repeat: no-repeat;
				height: 16px;
				width: 16px;
				transition: all 200ms ease-in-out;
				&.active {
					transform: rotate3d(0, 1, 0, 180deg);
				}
			}
			&__title {
				padding-left: 10px;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
			} 
			&:hover {
				.header__bottom__left__title {
					cursor: pointer;
					color: $colors-main;
				}
				.header__bottom__left__icon {
					background-image: $images-base-burger-active;
				}
			}
		}
		&__right { 
			width: calc(100% - 173px); 
		}
	}
	&-fullwidth {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		.container {
			width: calc(100vw - 60px);
			margin: 0 30px;
			min-width: 1200px;
		}
	}
}

.header__controls {
  &__user,
  &__settings,
  &__favorites {
    margin-left: 30px;
  }

  > div {
    &:hover {
      opacity: 1;
    }
  }

  &__user:hover,
  &__settings:hover,
  &__favorites:hover {
    opacity: 0.5;
  }

  // Меню controls
  &__menu {
    text-align: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      display: block;
    }
    .header__controls__menu__topmenu > li {
      display: block;
      position: relative;
    }
    //Треугольник над меню
    .header__controls__menu__topmenu > li > a:before {
      content: "";
      position: absolute;
      z-index: 13;
      left: 50%;
      top: 60px;
      width: 25px;
      height: 25px;

      background: #f6f6f6;
      box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.05);

      transform: rotate(45deg); /* Поворачиваем на 45º */
      opacity: 0;
    }

    // Костыль для hover
    .header__controls__menu__topmenu > li > a:after {
      content: "";
      position: absolute;
      z-index: 13;
      left: 25%;
      top: 45px;
      width: 90px;
      height: 30px;
      background: transparent;
      opacity: 1;
    }

    .header__controls__menu__topmenu li:hover a:before {
      opacity: 1;
    }

    .header__controls__menu__submenu {
      position: absolute;
      z-index: 12;
      left: 64%;
      top: 100%;

      width: 205px;

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 25px;
      padding-bottom: 10px;

      margin-top: 25px;

      background: #f6f6f6;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;

      visibility: hidden;
      opacity: 1;
      transform: translate(-50%, 20px);

      text-decoration: none;
    }
    .header__controls__menu__topmenu
      > li:hover
      .header__controls__menu__submenu {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }

    .header__controls__menu__submenu a {
      text-align: left;
      text-decoration: none;
      padding-bottom: 15px;
      color: $colors-textBase;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
    }

    // Меню юзера login
    .header__controls__menu__submenu {
      &__exit a {
        font-weight: 600;
      }
      &__exit::before {
        content: "";
        display: block;
        height: 1px;
        background: #000000;
        opacity: 0.2;
        margin-bottom: 20px;
      }
      &__notification a {
        color: $colors-main;
      }

      // Меню settings
      &__select {
        position: relative;
        margin-bottom: 10px;
      }
      &__select select {
        display: block;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        background: #ffffff;
        appearance: none;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #333333;;
      }
      &__select:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #333333 transparent transparent transparent;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
      }
      &__settings {
        margin-bottom: 15px;
      }
    }

    .header__controls__menu__submenu a:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
