.login {
	margin: 70px 0;
	.container {
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
	}
	&__wrapper {
		width: 535px;
		min-height: 100px;
		background-color: white;
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 30px;
	}
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $colors-titles;
		margin-bottom: 20px;
	}
	&__social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		margin-bottom: 30px;
		&__description {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 120%;
			color: #000;
			margin-right: 20px;
		}
		&__elements {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&__element {
				margin-right: 15px;
				width: 40px;
				height: 40px;
				border-radius: 10em;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				transition: all 150ms ease-in-out;
				opacity: 1;
				&:hover {
					cursor: pointer;
					opacity: 0.7;
				}
				&-vk {
					background-image: $images-base-social-vk-white;
				}
				&-ok {
					background-image: $images-base-social-ok-white;
				}
				&-google {
					background-image: $images-base-social-google-white;
				}
				&:last-child { margin-right: 0px; }
			}
		}
	}
}

.login {
  &__form {
    &__success {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      color: $colors-titles;
    }
  }
}
