.mainpage {

	&__slider {
		margin: 40px 0 100px;
		position: relative;
		&__body {
			&__item {
				background-color: #f0f0f0;
				height: 400px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.1);
					opacity: 0;
					width: 100%;
					height: 100%;
					transition: opacity 150ms ease-in-out;
				}
				&__title {
					margin-left: 40px;
					width: 190px;
					h3 {
						font-style: normal;
						font-weight: bold;
						font-size: 32px;
						line-height: 120%;
						color: $colors-textSlider;
						margin-bottom: 5px;
					}
					p {
						font-style: normal;
						font-weight: normal;
						font-size: 24px;
						line-height: 120%;
						color: $colors-textSlider;
					}
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}
		.owl-nav {
			margin-top: 0;
			.owl-prev, .owl-next {
				position: absolute;
				top: calc(50% - 30px);
				width: 55px;
				height: 55px;
				border-radius: 10em;
				background-color: white !important;
				background-position: center center !important;
				background-repeat: no-repeat !important;
				border: 2px solid $colors-main !important;
				box-sizing: border-box;
			}
			.owl-prev {
				left: -32px;
				background-image: $images-base-arrowLeftMaincolor !important;
			}
			.owl-next {
				right: -32px;
				background-image: $images-base-arrowRightMaincolor !important;
			}
		}
	}

	&__whatIsMarket {
		&__items {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: nowrap;
			width: 100%;
		}
		&__item {
			max-width: 454px;
			display: flex;
			justify-content: space-between;
			&__icon {
				width: 404px;
				height: 488px;
				background-position: left top;
				background-repeat: no-repeat;
				background-image: $images-mainpage-howitwork;
			}
			&__content {
				padding-top: 115px;
			}
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 36px;
				line-height: 130%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 35px;
			}
			&__description {
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 20px;
			}
		}
	}

	&__howItWork {
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 120%;
			margin-bottom: 60px;
			letter-spacing: 0.02em;
			color: $colors-titles;
		}
		&__items {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 100px;
		}
		&__item {
			width: calc(50% - 62.5px);
			display: flex;
			margin-bottom: 60px;
			justify-content: space-between;
			&__icon {
				width: 110px;
				height: 100px;
				background-position: left top;
				background-repeat: no-repeat;
			}
			&:nth-child(1) {
				.mainpage__howItWork__item__icon { background-image: $images-mainpage-feature-1; }
			}
			&:nth-child(2) {
				.mainpage__howItWork__item__icon { background-image: $images-mainpage-feature-2; }
			}
			&:nth-child(3) {
				.mainpage__howItWork__item__icon { background-image: $images-mainpage-feature-3; }
				margin-bottom: 0;
			}
			&:nth-child(4) {
				.mainpage__howItWork__item__icon { background-image: $images-mainpage-feature-4; }
				margin-bottom: 0;
			}
			&__content {
				width: calc(100% - 130px);
				padding-top: 20px;
			}
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 20px;
				max-width: 386px;
			}
			&__description {
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
			}
			&__link {
				display: block;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-main;
				margin-top: 20px;
				transition: all 150ms ease-in-out;
				&:hover {
					color: $colors-titles;
				}
			}
		}
	}
}
.mainpage__categories {
	margin-bottom: 40px;
	&__title {
		width: 100%;
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 120%;
		margin-bottom: 60px;
		letter-spacing: 0.02em;
		color: $colors-titles;
	}
	&__items {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}
	&__item {
		width: calc((100% / 3) - 15px);
		margin-bottom: 60px;
		&__image {
			width: 100%;
			height: 290px;
			background-color: $colors-temporary-mainpage;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			margin-bottom: 20px;
		}
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 120%;
			letter-spacing: 0.02em;
			color: $colors-titles;
		}
	}
}