.product {
	.container {
		display: block;
	}
	.breadcrumbs {
		margin-top: 30px;
	}
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: $colors-titles;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(#000, 0.1);
	}
	&__card {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: nowrap;
		&__blockImage {
			width: 430px;
			margin-right: 30px;
		}
		&__blockInformation {
			width: calc(100% - 430px - 300px - 60px);
		}
		&__blockContact {
			position: relative;
			width: 300px;
			margin-left: 30px;
			padding: 25px 20px;
			border: 1px solid $colors-border;
			&.sticky{
				position:fixed;
				top: 20px;
				margin-left: 900px;
				background-color: white;

			}
		}

		// Главное изображение
		&__image {
			margin-bottom: 15px;
			&__item {
				width: 430px;
				height: 430px;
				background-color: rgba(0, 0, 0, 0.05);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
		}

		// Слайдер для управления главным изображением
		&__imageControl {
			position: relative;
			padding: 0 30px;
			&__item {
				width: 70px;
				height: 70px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-color: #f0f0f0;
			}
			.owl-nav {
				display: block !important;
				.owl-prev, .owl-next {
					display: block !important;
					position: absolute;
					height: 70px;
					width: 25px;
					top: 0;
					margin: 0;
					border-radius: 0 !important;
					background-repeat: no-repeat !important;
					opacity: 1;
					&:hover {
						background-color: transparent !important;
						cursor: pointer !important;
						opacity: 0.7 !important;
					}
				}
				.owl-prev {
					left: 0;
					background-position: left center !important;
					background-image: $images-base-product-card-left !important;
				}
				.owl-next {
					right: 0;
					background-position: right center !important;
					background-image: $images-base-product-card-right !important;
				}
			}
		}

		// Номер запроса
		&__id {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 14px;
			color: rgba(0, 0, 0, 0.4);
			margin-bottom: 40px;
		}
		// Цена
		&__price {
			margin-bottom: 30px;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 10px;
			}
			&__value {
				font-style: normal;
				font-weight: 600;
				font-size: 28px;
				line-height: 120%;
				color: $colors-titles;
			}
		}

		// Цена по запросу
		&__priceRequest {
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 120%;
			color: $colors-titles;
			letter-spacing: 0.02em;
			margin-bottom: 30px;
		}

		// Желаемое количество
		&__count {
			margin-bottom: 0;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 10px;
			}
			&__value {
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 100%;
				color: $colors-titles;
			}
		}

		// Доступное количество
		&__available {
			margin-top: 30px;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 10px;
			}
			&__value {
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 100%;
				color: $colors-titles;
			}
		}

		// Доступное количество
		&__color {
			margin-top: 30px;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 10px;
			}
			&__value {
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 100%;
				color: $colors-titles;
			}
		}

		// Модели в карточке товара
		&__model {
			margin-top: 30px;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 10px;
			}
			&__items {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				&__element {
					width: 55px;
					height: 55px;
					background-color: #fafafa;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					margin-right: 10px;
					margin-bottom: 10px;
				}
			}
		}

		// Покупатель/продавец и его имя
		&__name {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			margin-bottom: 30px;
			&__label {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 100%;
				color: $colors-titles;
				margin-bottom: 20px;
			}
			&__value {
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 130%;
				color: $colors-main;
				margin-bottom: 25px;
				word-break: break-word;
			}
		}

		// Гарантии
		&__warranty {
			padding-bottom: 10px;
			margin-bottom: 30px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			&__element {
				margin-bottom: 20px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				&__icon {
					width: 30px;
					height: 30px;
					margin-right: 10px;
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
					flex-grow: 0;
					flex-shrink: 0;
					&-warranty1 {
						background-image: $images-base-warranty-1;
					}
					&-warranty2 {
						background-image: $images-base-warranty-2;
					}
					&-warranty3 {
						background-image: $images-base-warranty-3;
					}
				}
				&__info {
					&__title {
						font-style: normal;
						font-weight: 600;
						font-size: 12px;
						line-height: 140%;
						color: $colors-titles;
					}
					&__description {
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 140%;
						color: $colors-titles;
					}
				}
			}
		}

		// Добавить запрос/товар в избранное
		&__favorites {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 20px;
			&__icon {
				width: 22px;
				height: 22px;
				margin-right: 5px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				background-image: $images-base-favorite;
                &:hover {
                    cursor: pointer;
                }
                &.active {
					background-image: $images-base-favorite-active;
					&:hover {
						background-image: $images-base-favorite;
						opacity: 0.7;
					}
				}
			}
			&__text {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
				color: $colors-main;
			}
		}

		// Кнопка "Написать сообщение"
		&__button {
			margin-top: 5px;
		}

		// Кнопка "Контакты"
		&__contacts {
			position: absolute;
			top: 22px;
			right: 20px;
			width: 20px;
			height: 21px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: $images-base-contacts-active;
            &:hover {
                cursor: pointer;
            }
		}
	}
	&__cardDescription {
		margin-top: 45px;
		background-color: #fff;
		border: 1px solid $colors-border;
		padding: 35px 40px;
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 120%;
			letter-spacing: 0.02em;
			color: $colors-titles;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			margin-bottom: 40px;
		}
		&__text {
			&__image {
				padding: 12px;
			}
			p, &__paragraph {
				width: 750px;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 22px;
				word-break: break-word;
				&-star {
					&:before {
						content: '*';
						color: $colors-main;
						padding-right: 10px;
					}
				}
				&-graystar {
					font-style: normal;
					font-weight: normal;
					font-size: 12px !important;
					line-height: 140%;
					letter-spacing: 0.02em;
					color: rgba(0, 0, 0, 0.4) !important;
					margin-top: -10px;
					&:before {
						content: '*';
						padding-right: 7px;
					}
				}
			}
			&__title {
				width: 750px;
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 30px;
			}
			&__video {
				width: 750px;
			}
			&__subtitle {
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 30px;
			}
			&__subsubtitle {
				width: 750px;
				margin-top: 30px;
				margin-bottom: 15px;
				font-style: normal;
				font-weight: 600;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: $colors-titles;
			}
			&__spacer {
				width: 750px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				padding-bottom: 40px;
				margin-bottom: 40px;
			}
			&__columns {
				width: 750px;
				columns: 2;
				&__element {
					margin-bottom: 20px;
					&__title {
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 140%;
						letter-spacing: 0.02em;
						color: $colors-titles;
						margin-bottom: 10px;
					}
					&__value {
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 140%;
						letter-spacing: 0.02em;
						color: $colors-titles;
					}
				}
			}
			&__items {
				width: 790px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				&__item {
					border: 1px solid rgba(0, 0, 0, 0.1);
					box-sizing: border-box;
					width: calc(100% / 4);
					margin-left: -1px;
					padding: 15px 12px;
					&__image {
						width: 170px;
						height: 170px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
						background-color: #f9f9f9;
						margin-bottom: 15px;
					}
					&__price {
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 140%;
						color: $colors-titles;
					}
				}
			}
		}
	}
}