.sidebar {
	padding-top: 12px;
	padding-bottom: 27px;
	background-color: $colors-neutral-background;
	overflow-y: auto;
	&-topfixed {
		padding-top: 0;
	}
	&__menu {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		pointer-events: auto;
		&__spacer {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			width: 100%;
			height: 0;
		}
		&__item, &__expander {
			width: 100%;
			display: flex; 
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding-left: 40px;
			position: relative;
			min-height: 65px;
			cursor: pointer;
			&__expand {
				.sidebar__menu__item__icon { background-image: $images-base-user-circle; }
			}
			&__burger {
				.sidebar__menu__item__icon { background-image: $images-base-burger-big; }
			}
			&__user {
				.sidebar__menu__item__icon { background-image: $images-base-user; }
			}
			&__operator {
				.sidebar__menu__item__icon { background-image: $images-base-operator; }
			}
			&__learning {
				.sidebar__menu__item__icon { background-image: $images-base-users; }
			}
			&__messages {
				.sidebar__menu__item__icon { background-image: $images-base-messages; }
			}
			&__package {
				.sidebar__menu__item__icon { background-image: $images-base-package; }
			}
			&__list {
				.sidebar__menu__item__icon { background-image: $images-base-list; }
			}
			&__order {
				.sidebar__menu__item__icon { background-image: $images-base-order; }
			}
			&__icon {
				background-repeat: no-repeat;
				background-position: center center;
				width: 35px;
				height: 30px;
				margin-right: 15px;
			}
			&__title {
				width: calc(100% - 50px);
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				min-height: 65px;
				line-height: 65px;
				user-select: none;
				//white-space: nowrap;
			}
			&__showMore {
				position: absolute;
				right: 25px;
				top: 25px;
				width: 14px;
				height: 14px;
				background-image: $images-base-arrowDownBig;
				background-repeat: no-repeat;
				background-position: center center;
				transition: all 150ms ease-in-out;
				transform: rotate(-90deg);
			}
			&__childs {
				margin-top: -10px;
				padding-left: 50px;
				margin-bottom: 10px;
				display: none;
				ul {
					li {
						margin-bottom: 10px;
						&:last-child { margin-bottom: 0; }
						a {
							color: $colors-titles;
							transition: all 150ms ease-in-out;
							white-space: nowrap;
							&:hover {
								cursor: pointer;
								color: $colors-main;
							}
						}
					}
				}
			}
			&-expanded {
				.sidebar__menu__item__showMore {
					transform: rotate(0);
				}
				.sidebar__menu__item__childs {
					display: block;
				}
			}
		}
		&__expander {
			.sidebar__menu__item {
				&__icon {}
				&__title {
					&__name {
						padding-top: 27px;
						color: $colors-main;
						margin-bottom: 10px;
						padding-right: 20px;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						word-break: break-word;
					}
					&__type {
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						color: $colors-titles;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						&__name { margin-right: 7px; }
						&__lang {
							.lang {
								width: 15px;
								height: 15px;
							}
						}
					}
					&__name, &__type { line-height: 1.3; }
				}
			}
		}
		&__expand-active {
			height: auto;
		}
	}
}