.static {
	.breadcrumbs {
		margin-top: 30px;
		width: 100%;
	}


	&__title {
		width: 100%;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $colors-titles;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	&__wrapper {
		width: 100%;
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&__sidebar {
		width: 244px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 58px;

		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 140%;
			color: $colors-titles;
			margin-bottom: 20px;
		}
		&__link {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 14px;
			color: $colors-titles;
			transition: color 150ms ease-in-out;
			margin-bottom: 30px;
			display: block;
			&:hover {
				cursor: pointer;
				color: $colors-main;
			}
		}

		&__list {
			margin-bottom: 30px;
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
				color: $colors-titles;
				transition: all 150ms ease-in-out;
				position: relative;
				display: inline-block;
				width: auto;
				&:after {
					content: '';
					position: absolute;
					right: -18px;
					top: 4px;
					background-image: $images-static-arrowDown;
					background-repeat: no-repeat;
					background-size: auto;
					background-position: center center;
					width: 12px;
					height: 9px;
				}

				&:hover {
					cursor: pointer;
					color: $colors-main;
					&:after {
						background-image: $images-static-arrowDown-active;
					}
				}

				&-show {
					&:after {
						background-image: $images-static-arrowUp;
					}
					&:hover {
						&:after {
							background-image: $images-static-arrowUp-active;
						}
					}
				}
			}
			&__ul {
				margin-top: 10px;
				display: none;
				li {
					margin-bottom: 10px;
					&:last-child { margin-bottom: 0; }
				}
				&__link {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 160%;
					color: $colors-titles;
					transition: color 150ms ease-in-out;
					&:hover {
						cursor: pointer;
						color: $colors-main;
					}
				}
				&__title {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 160%;
					color: $colors-titles;
					transition: color 150ms ease-in-out;
					position: relative;
					display: inline-block;
					width: auto;
					margin-bottom: 10px;
					&:after {
						content: '';
						position: absolute;
						right: -18px;
						top: 7px;
						background-image: $images-static-arrowDown;
						background-repeat: no-repeat;
						background-size: auto;
						background-position: center center;
						width: 12px;
						height: 9px;
					}
					&:hover {
						cursor: pointer;
						color: $colors-main;
						&:after {
							background-image: $images-static-arrowDown-active;
						}
					}
					&-show {
						&:after { background-image: $images-static-arrowUp; }
						&:hover { &:after { background-image: $images-static-arrowUp-active; } }
					}
				}
				&__sublist {
					padding-left: 15px;
					display: none;
					&__link {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 160%;
						color: $colors-titles;
						transition: color 150ms ease-in-out;
						&:hover {
							cursor: pointer;
							color: $colors-main;
						}
					}
					&-show {
						display: block;
					}
				}
			}
			&-show {
				.static__sidebar__list__ul {
					display: block;
				}
			}
		}
	}
	&__content {
		flex-basis: 100%;
		h1, h2, h3, h4, h5, hr {
			display: inline-block;
			width: 100%;
		}
		h2 {
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: $colors-titles;
			margin-bottom: 20px;
		}
		h3 {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: $colors-titles;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: $colors-titles;
			margin-bottom: 20px;
			&.star {
				&:before {
					content: '*';
					color: $colors-main;
					padding-right: 10px;
				}
			}
		}
		ul {
			padding-left: 20px;
			margin-bottom: 20px;
			li {
				list-style: disc outside;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 15px;
				padding-left: 5px;
				&:last-child {
					margin-bottom: 0;
				}
				ol {
					margin-top: 15px;
					li {
						list-style: decimal outside;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 140%;
						letter-spacing: 0.02em;
						color: $colors-titles;
						margin-bottom: 15px;
						padding-left: 5px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		ol {
			padding-left: 20px;
			margin-bottom: 20px;
			li {
				list-style: decimal outside;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: $colors-titles;
				margin-bottom: 15px;
				padding-left: 5px;
				&:last-child {
					margin-bottom: 0;
				}

				ul {
					margin-top: 15px;
					li {
						list-style: disc outside;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 140%;
						letter-spacing: 0.02em;
						color: $colors-titles;
						margin-bottom: 15px;
						padding-left: 5px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		a {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: $colors-main;
			position: relative;
			&:after {
				content: '';
				bottom: -5px;
				left: 0;
				width: 100%;
				height: 2px;
				position: absolute;
				background-color: $colors-main;
			}
			&:hover {
				cursor: pointer;
				color: $colors-titles;
				&:after {
					background-color: $colors-titles;
				}
			}
		}
		hr {
			border: none;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.2);
			margin-top: 20px;
			margin-bottom: 30px;
		}
		img {
			margin: 10px 0;
		}
	}

}