.store {
	&__top {
		background-color: #FFF;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		.container {
			height: 50px;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
		}
		&__saler {
			span { 
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				color: rgba(0, 0, 0, 0.4); 
			}
			strong {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 120%;
				color: $colors-titles;
				margin-left: 15px;
			}
		}
		&__contacts {
			margin-left: 60px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
			&__icon {
				width: 20px;
				height: 21px;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: $images-base-contacts-active;
			}
			&__text {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
				color: $colors-main;
				margin-left: 5px;
			}
		}
	}
	&__header {
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 120px;
		}
		&__name {
			display: flex;
			align-items: center;
			&__image {
				width: 90px;
				height: 50px;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 26px;
				line-height: 120%;
				color: $colors-titles;
				margin-left: 10px;
			}
		}
		&__search {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			&__input {
				width: 350px;
				height: 40px;
				font-size: 14px;
				line-height: 14px;
				border: 1px solid rgba(0, 0, 0, 0.2);
				box-sizing: border-box;
				padding: 0 15px 0 48px;
				background-image: $images-base-search-active;
				background-repeat: no-repeat;
				background-position: left 15px center;
				&::placeholder {
					color: rgba(#000000, 0.4);
				}
			}
			&__button {
				margin: 0 0 0 10px;
				width: 80px;
				height: 40px;
				line-height: 40px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 14px;
			}
		}
	}
	&__navigation {
		background-color: $colors-titles;
		.container {
			height: 40px;
			align-items: center;
			justify-content: flex-start;
		}
		&__links {
			ul {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				li {
					margin-left: 37px;
					&:first-child { margin-left: 0; }
				}
			}
			&__link {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 40px;
				color: rgba(#FFF, 0.5);
				&-active {
					color: #FFF;
				}
				&:hover {
					cursor: pointer;
					color: #FFF;
				}
			}
		}
	}
	&__mainSlider {
		position: relative;
		&__item {
			min-height: 595px;
			background-position: center;
			background-color: $colors-neutral-background;
		}
		.owl-dots {
			position: absolute;
			bottom: 15px;
			left: 0;
			width: 100%;
			.owl-dot {
				span {
					width: 10px;
					height: 10px;
					margin: 2.5px;
					opacity: 0.4;
					background-color: #FFF;
				}
				&:hover {
					span {
						opacity: 1;
						background-color: #FFF;
					}
				}
				&.active {
					span {
						opacity: 1;
						background-color: #FFF;
					}
				}
			}
		}
	}
	&__languages {
		padding: 70px 0;
		background-color: $colors-neutral-background;
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
			color: $colors-titles;
			margin-bottom: 10px;
		}
		&__flags {
			margin-top: 20px;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-gap: 30px;
			&__item {
				&__flag {
					width: 120px;
					height: 70px;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					&-arabic {
						background-image: $images-flags-arabic;
					}
					&-dutch {
						background-image: $images-flags-dutch;
					}
					&-french {
						background-image: $images-flags-french;
					}
					&-german {
						background-image: $images-flags-german;
					}
					&-hebrew {
						background-image: $images-flags-hebrew;
					}
					&-hindi {
						background-image: $images-flags-hindi;
					}
					&-indonesian {
						background-image: $images-flags-indonesian;
					}
					&-italian {
						background-image: $images-flags-italian;
					}
					&-japanese {
						background-image: $images-flags-japanese;
					}
					&-korean {
						background-image: $images-flags-korean;
					}
					&-portuguese {
						background-image: $images-flags-portuguese;
					}
					&-russian {
						background-image: $images-flags-russian;
					}
					&-spanish {
						background-image: $images-flags-spanish;
					}
					&-thai {
						background-image: $images-flags-thai;
					}
					&-turkish {
						background-image: $images-flags-turkish;
					}
					&-vietnamese {
						background-image: $images-flags-vietnamese;
					}
                    &-english {
						background-image: $images-flags-english;
					}
                    &-chinese {
						background-image: $images-flags-chinese;
					}
				}
				&__title {
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					margin-top: 10px;
					color: $colors-titles;
				}
			}
		}
	}
	&__categories {
		padding: 30px 0;
		.container {
			display: block;
		}
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
			color: $colors-titles;
		}
		&__wrapper {
			margin-top: 30px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 10px;
		}
		&__item {
			height: 394px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			&__title {
                text-align: center;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 60px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgba($colors-titles, 0.7);
				color: #FFF;
				&__more {
					width: 15px;
					height: 15px;
					margin-left: 5px;
					display: block;
					background-image: $images-base-next-small-white;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
				}
			}
		}
	}
	&__catalog {
		padding: 30px 0;
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
			color: $colors-titles;
		}
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			margin-top: 30px;
			grid-gap: 2px;
		}
		&__item {
			box-sizing: border-box;
			padding: 15px;
			background-color: white;
			transition: box-shadow 150ms ease-in-out;
			z-index: 1;
			&:hover {
				z-index: 2;
				box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
			}
			&__image {
				display: block;
				width: 100%;
				height: 270px;
				background-color: $colors-neutral-background;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				position: relative;
				margin-bottom: 15px;
				box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
			}
			&__favorite {
				display: block;
				width: 34px;
				height: 34px;
				border-radius: 10em;
				position: absolute;
				top: 20px;
				right: 20px;
				background-color: white;
				background-image: $images-base-favorite;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 16px 22px;
				transition: all 150ms ease-in-out;
				&:hover {
					cursor: pointer;
					background-image: $images-base-favorite-active;
				}
				&.active {
					background-image: $images-base-favorite-active;
					&:hover {
						cursor: pointer;
						background-image: $images-base-favorite;
					}
				}
			}
			&__title {
				height: 34px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom: 15px;
			}
			&__price {
				font-style: normal;
				font-weight: 600;
				font-size: 17px;
				line-height: 120%;
				color: $colors-titles;
				margin-bottom: 5px;
				span {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 120%;
					color: #888;
				}
			}
			&__minOrder {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				margin-bottom: 15px;
				color: $colors-titles;
				span {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 120%;
					color: #888;
				}
			}
		}
	}
	&__about {
		padding: 50px 0 0;
		background-color: $colors-neutral-background;
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
			color: $colors-titles;
			margin-bottom: 40px;
		}
		&__block {
			width: 100%;
			&__slider {
				&__item {
					height: 500px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}
				.owl-nav {
					margin-top: 0;
					.owl-prev, .owl-next {
						position: absolute;
						top: calc(50% - 30px);
						width: 55px;
						height: 55px;
						border-radius: 10em;
						background-color: white !important;
						background-position: center center !important;
						background-repeat: no-repeat !important;
						border: 2px solid $colors-main !important;
						box-sizing: border-box;
					}
					.owl-prev {
						left: -32px;
						background-image: $images-base-arrowLeftMaincolor !important;
					}
					.owl-next {
						right: -32px;
						background-image: $images-base-arrowRightMaincolor !important;
					}
				}
			}
			&-1 {
				min-height: 350px;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				margin-bottom: 40px;
				&__image {
					width: 600px;
					height: 350px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}
				&__text {
					width: calc(100% - 600px - 50px);
					strong {
						width: 485px;
						font-style: normal;
						font-weight: 600;
						font-size: 20px;
						line-height: 120%;
						color: $colors-titles;
						margin-bottom: 20px;
						display: block;
					}
					p {
						width: 485px;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 120%;
						color: $colors-titles;
					}
				}
			}
			&-2 {
				margin-bottom: 40px;
			}
			&-3 {
				margin-bottom: 20px;
				&__video {

				}
			}
			&-4 {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 15px;
				&__photo {
					height: 250px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}
			}
		}
	}
	&__catalog {
		/* Source: src/assets/scss/modules/pages/catalog.scss */
	}
	&__contacts {
		.container { display: block; }
		&__title {
			margin-top: 20px;
			padding: 20px 0;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 120%;
			color: $colors-titles;
			border-bottom: 1px solid rgba(#000, 0.1);
		}
		&__subtitle {
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 120%;
			color: $colors-titles;
			margin-bottom: 30px;
			margin-top: 40px;
		}
		&__actions {
			padding-top: 40px;
			margin-top: 40px;
			border-top: 1px solid rgba(#000, 0.1);
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.button { margin-top: 0; }
			.store__top__contacts {
				margin-left: 20px;
			}
		}
	}
}