.main-container
{
    height: 94%;
}

html, body, #app, .main-wrapper, .left-sidebar-main, .left-sidebar-child 
{
    /*height: 100%!important;*/
}

.main-wrapper
{
    min-height: 100%!important;
}

.left-sidebar-main
{
    -flex: 0 0 auto;
    flex: none;
    width: 4.5em;
}

.left-sidebar-child
{
    -flex: 0 0 auto;
    flex: none;
    width: 10em;
    text-align: center;
}
.content 
{
    flex: 1 auto;
    height: fit-content;
}
.table-div 
{
    flex: 1 auto;
    height: fit-content;
}
.card-filter
{
    flex: 0 0 auto;
}
td
{
    vertical-align: middle!important;
}

/* Общие  */
body 
{
    font-size: 16px;
}

.active
{
    color: #ffc107!important;
    #pointer-events: none;
}

.col-form-label
{
    word-break: break-word;
}

.breadcrumb
{
    padding-left: 0!important;
    background-color: unset!important;
    font-size: 0.9em;
}
/* Конец Общие */

/* Таблицы  */
.th-actions
{
    width: 110px!important;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    display: table!important;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    /*text-transform: uppercase;*/
    font-weight: bold;
  }
}
/* Конец Таблицы  */

/* Ссылки  */
a
{
    color: black!important;
    text-decoration: none!important;
}

a:hover
{
    cursor:pointer;
}

a.btn.btn-secondary
{
    color: white!important;
}
/* Конец Ссылки */

/* Кнопки */
button.delete-profile-btn, button.approve-profile-btn, button.disable-profile-btn
{
    background-color: unset;
    border: unset;
}
/* Конец Кнопки */

/* Сайдбар */
@media screen and (min-width: 768px) {
    .toogler-sidebar
    {
        display: none;
    }
    
    .accordion
    {
        display: block!important;
    }
}

.collapsed::before
{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.collapse-item:not([aria-expanded="false"])::before
{
    display: inline-block;
    margin-left: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}
/* Конец Сайдбар*/